@import "../../../../sass/variables";

.how-it-works {
  background-color: map-get($Neutrals, "N0") !important;

  :global .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    .header {
      text-align: center;
      margin-top: 40px;
      width: 50%;
      h3 {
        margin-bottom: 12px;

        span {
          color: map-get($Primary, "P300");
        }
      }
    }
  }

  @media (max-width: 992px) {
    padding: 48px 0 56px;

    :global .container {
      flex-wrap: wrap;

      .header {
        width: 100%;
        margin-top: 0px;
      }
    }
  }
}
