@import "../../../../sass/variables";
.done{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;

    .buttons {
        max-width: 95%;
        margin: auto;
        flex-direction: initial;
    }

    :global{
        .job-success{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 88px;
            height: 88px;
            border-radius: 100%;
            margin-bottom: 24px;
            background-color: map-get($Primary, "P300" );
            svg{
                color: map-get($Neutrals, "N0");
                font-size: 40pt;
                stroke-width: 3;
            }
        }
        span{
            margin-bottom: 24px;
        }
        div{
            .btn{
                padding: 12px 32px;
                margin: 0 8px;
                border-radius: 6px;
            }
        }
    }

    @media (max-width: 576px){
        :global{
            div{
                .btn{
                    padding: 10px 22px;
                }
            }
        }
    }

    @media (max-width: 345px){
        :global{
            div{
                .btn{
                    padding: 8px 10px;
                    margin: 2px;
                }
            }
        }
    }
}