@import "../../../../sass/variables";

.blog {
    background-color: map-get($Neutrals, "N10");
    :global .container {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            justify-content: space-between;
            margin-top: 84px;
            .btn-wrapper{
                display: flex;
                justify-content: space-between;
                .see-more-responsive{
                    display: none;
                    margin: 0 16px;
                }
            }
            .see-more {
                margin: 0 16px;
                padding: 12px 16px;
                border-radius: 4px;
            }
        }

        .slick-slider {
            margin: 28px 0 120px;

            .slick-track {
                display: flex;

                .slick-slide {
                    width: 300px;
                    padding: 0 8px;

                    .item {
                        color: map-get($Neutrals, "N900");

                        .wrapper {
                            background-color: map-get($Neutrals, "N0");
                            border-radius: 8px;
                            overflow: hidden;

                            .image-box {
                                height: 214px;
                                position: relative;

                                .post-image {
                                    width: auto;
                                    height: 100%;
                                    overflow: hidden;
                                }
                                .post-image span, .post-image img {
                                    width: 100% !important;
                                }

                                .popular {
                                    position: absolute;
                                    width: 100px;
                                    top: 0;
                                    left: 0;
                                }
                            }

                            .data-row {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin: 0 -4px;
                            }

                            .content {
                                padding: 16px 20px;

                                h4 {
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    word-break: break-all;
                                }

                                .post-intro {
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    margin-bottom: 12px;

                                    p {
                                        margin: 0;
                                        padding: 0;
                                    }
                                }

                                .info-box {
                                    display: flex;

                                    img {
                                        border-radius: 50px;
                                        width: 44px;
                                        height: 44px;
                                    }

                                    .account-info {
                                        margin-left: 8px;
                                        flex-grow: 1;

                                        .user-info {
                                            display: flex;
                                            flex-direction: column;

                                            :last-child {
                                                color: map-get($Neutrals, "N80");
                                                margin-top: 8px;
                                            }
                                        }

                                        .date {
                                            color: map-get($Neutrals, "N80");
                                            display: flex;
                                            flex-direction: column;

                                            svg {
                                                margin-right: 8px;
                                            }

                                            :last-child {
                                                margin-top: 8px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .slick-arrow {
                background-color: map-get($Primary, "P50");
                color: map-get($Primary, "P300");
                border-radius: 10px;
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
                top: 105px;
                transform: none;

                svg {
                    font-size: 24px;
                }

                &::before {
                    content: none;
                }

                &:hover {
                    background-color: map-get($Primary, "P300");
                    color: map-get($Neutrals, "N0");
                }

                &.slick-next {
                    right: -14px;
                }

                &.slick-prev {
                    left: -14px;
                }
            }

            .slick-dots {
                bottom: -70px;

                li {
                    width: 10px;
                    height: 10px;
                    margin: 0 4px;
                    display: inline-table;

                    button {
                        background-color: map-get($Neutrals, "N50");
                        width: 8px;
                        height: 8px;
                        border-radius: 50px;
                        font-size: 0;
                        padding: 0;

                        &:before {
                            content: none;
                        }
                    }

                    &.slick-active button {
                        background-color: map-get($Warning, "Y500");
                    }
                }
            }
        }
    }

    @media (min-width: 992px) and(max-width:1200px) {
        :global .container {

            .slick-slider .slick-track .slick-slide {
                width: 320px;
            }
        }
    }

    @media (min-width: 768px) and(max-width:992px) {
        :global .container {
            .slick-slider .slick-track .slick-slide {
                width: 360px;
            }
        }
    }

    @media (min-width: 576px) and(max-width:768px) {
        :global .container {
            margin: 28px -8px 120px;
            max-width: unset;

            .header {
                margin-top: 48px;
                >div{
                    width: 100%;
                }
                .btn-wrapper{
                    
                    .see-more-responsive{
                        display: flex;
                        flex-shrink: 0;
                    }
                }
                .see-more {
                    display: none;
                }
            }

            .slick-slider {
                margin: 24px 0 64px;

                .slick-track {
                    .slick-slide {
                        width: calc(50vw - 15px);
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        :global .container {
            padding: 0;

            .header {
                padding: 0 16px;
                margin-top: 48px;
                .btn-wrapper{
                    .see-more-responsive{
                        display: flex;
                        flex-shrink: 0;
                    }
                }
                .see-more {
                    display: none;
                }
            }

            .slick-slider {
                margin: 24px 0 64px 16px;

                .slick-track {
                    .slick-slide {
                        width: 80vw;
                    }
                }
            }
        }
    }
}