@import "../../sass/variables";

.pagination {
    margin: 16px 0 0;

    @media (max-width: 768px) {
        margin-top: 30px !important;
    }

    & > div {
        &:nth-child(1) {
            position: relative;
            top: 4px;
            
            @media (max-width: 768px) {
                top: 8px !important;
            }
        }

        @media (max-width: 768px) {
            width: 50% !important;
        }
    }

    li {
        outline: 0 !important;

        button {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px !important;
            font-size: 13px;
            font-weight: 500;
            margin-right: 5px;
            cursor: pointer;
            background: #2932410d;
            outline: 0 !important;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #000;
            padding: 0;

            &:hover {
                background-color: #29324112;
            }

            span {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                padding-bottom: 4px;
            }
        }

        &.active {
            button.page-link {
                background-color: map-get($Primary, "P300");
                color: #fff;
                &:focus,
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .dots {
        margin: 0 2px;
        font-size: 22px;
        letter-spacing: 3px;
        font-weight: 200;
    }
    .icon {
        font-size: 24px !important;
        font-weight: 400 !important;
        color: map-get($Neutrals, "N300");
    }
}
