@import '../../../sass/variables';

.reviews-wapper {
    .page-title {
        color: map-get($Neutrals, 'N900');
        margin-bottom: 24px;
    }

    >.row {
        flex-direction: row-reverse;
        height: calc(100% - 100px);
        position: relative;


        >[class*=col] {
            margin-top: 24px;
        }
    }

    .tabs {
        border-bottom: solid 1px #c9c9c9;

        .tab {
            padding: 0;
            margin-right: 16px;
            color: $secondary;
            text-decoration: none;
            box-shadow: none;
            border: none;
            border-radius: 0;
            border-bottom: solid 2px transparent;

            &.active {
                color: map-get($Primary, 'P300');
                border-color: map-get($Primary, 'P300');
            }
        }
    }

    .reviews-container {
        min-height: 200px;
        height: 100%;
        overflow: auto;

        .review-item {
            background: map-get($Neutrals, 'N0');
            border-radius: 8px;
            padding: 24px;
            margin-bottom: 16px;
        }

        .review-header {
            align-items: center;
            margin-bottom: 16px;
            flex-wrap: wrap;

            .profile-avatar-container {
                width: 40px;
                height: 40px;
                margin-right: 16px;
                flex-shrink: 0;
            }

            .job-info {
                flex-shrink: 0;

                .job-title {
                    color: map-get($Neutrals, 'N900');
                    margin-bottom: 2px;
                }

                .user-role {
                    color: map-get($Neutrals, 'N500');
                }
            }

            .rate-info {
                margin-left: auto;
                flex-shrink: 0;

                .star-rating {
                    margin-bottom: 4px;

                    .star {
                        margin: 0 2px;

                        svg {
                            font-size: 18px;
                        }
                    }
                }

                .creation-date {
                    color: map-get($Neutrals, 'N500');
                }
            }
        }

        .no-content .icon {
            width: auto;
            padding: 8px;

            svg:first-child {
                margin-right: 8px;
            }
        }
    }

    .ratings-container {
        background-color: map-get($Neutrals, 'N0');
        border-radius: 8px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 200px;

        .profile-avatar-container {
            width: 64px;
            height: 64px;
            margin-bottom: 24px;
        }

        .user-name {
            color: map-get($Neutrals, 'N900');
            margin-bottom: 8px;
        }

        .user-location {
            color: map-get($Neutrals, 'N700');
            margin-bottom: 12px;
        }

        .user-level {
            width: 56px;
            height: 56px;
            text-align: center;
            background-color: map-get($Neutrals, 'N20');
            border-radius: 4px;
            margin-bottom: 16px;
            padding: 4px;

            img {
                height: 100%;
            }
        }

        .button-select {
            width: 100%;

            .btn {
                height: 46px;
            }

            .btn-light {
                background-color: transparent;
                border: none;
            }

            .btn-primary {
                background-color: map-get($Neutrals, 'N0');
                color: map-get($Primary, 'P300');
                border: none;
            }
        }

        .average-rating {
            display: flex;
            align-items: center;
            margin: 24px 0;

            .star-rating {
                .star {
                    margin: 0 2px;

                    svg {
                        font-size: 16px;
                    }
                }
            }

            .user-avg-rating {
                color: map-get($Warning, 'Y300');
                margin: 0 8px;
            }
        }

        .rating-counts {
            width: calc(100% - 32px);

            .rating-count-item {
                display: flex;
                align-items: center;
                margin-bottom: 24px;

                .rating-number,
                .rating-count {
                    color: map-get($Neutrals, 'N500');
                    width: 10px;
                    text-align: left;
                }

                .percent-veiw {
                    flex-grow: 1;
                    margin: 0 8px;
                    background-color: map-get($Neutrals, 'N20');
                    height: 15px;
                    border-radius: 50px;
                    position: relative;
                    overflow: hidden;

                    span {
                        background-color: map-get($Primary, 'P300');
                        height: 100%;
                        display: block;
                        border-radius: inherit;
                    }
                }
            }
        }
    }
}