@import "../../../../sass/variables";
.hero {
    :global .container {
        display: flex;
        flex-direction: column;
        .header {
            text-align: center;
            margin: 150px auto 88px;
        }
        .content {
            display: flex;
            //margin-bottom: 132px;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            .description {
                padding-right: 60px;
            }
            .statistics {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                > [class*="col"] {
                    display: flex;
                    justify-content: flex-end;
                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        span {
                            margin: 4px 0;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 992px) and (max-width:1200px) {
        :global .container {
            .content {
                .description{
                    padding-right: 44px;
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        :global .container {
            .header{
                margin: 160px auto 64px;
            }
            .content {
                margin-bottom: 64px;
                .description{
                    margin-bottom: 40px;
                    padding: 0;
                }
                .statistics {
                    padding: 0;
                    > [class*="col"] {
                        display: flex;
                        justify-content: center;
                        &:nth-child(2n+1){
                            padding-left: 0;
                        }
                        &:nth-child(2n){
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 768px) {
        :global .container {
            .header{
                margin: 144px auto 64px;
            }
            .content {
                margin-bottom: 36px;
                .description{
                    margin-bottom: 40px;
                    padding: 0;
                }
                .statistics {
                    padding: 0;
                    > [class*="col"] {
                        display: flex;
                        justify-content: center;
                        &:nth-child(2n+1){
                            padding-left: 0;
                        }
                        &:nth-child(2n){
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        :global .container {
            .header{
                margin: 144px auto 64px;
            }
            .content {
                margin-bottom: 36px;
                .description{
                    margin-bottom: 40px;
                    padding-right: 15px;
                }
                .statistics {
                    padding: 0;
                    > [class*="col"] {
                        display: flex;
                        justify-content: center;
                        &:nth-child(2n+1){
                            padding-left: 0;
                        }
                        &:nth-child(2n){
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}
