@import "../../../../sass/variables";
.why-using-jobtick {
    :global .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .header {
            text-align: center;
            margin-top: 84px;
            width: 60%;
            h2,
            p {
                color: map-get($Neutrals, "N900");
                margin-bottom: 12px;
            }
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            margin: 56px 0 88px;
            [class*="col"] {
                display: flex;
                flex-direction: column;
                align-items: center;
                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: map-get($Primary, "P50");
                    border-radius: 100px;
                    width: 132px;
                    height: 132px;
                }
                .content {
                    text-align: center;
                    padding: 16px;
                    h3 {
                        color: map-get($Neutrals, "N1000");
                    }
                    span {
                        color: map-get($Neutrals, "N900");
                    }
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        :global .container {
            .items {
                [class*="col"] {
                    margin: 12px 0;
                }
            }
        }
    }
    @media (max-width: 576px){
        :global .container {
            .header{
                width: 80%;
            }
            .items {
                [class*="col"] {
                    margin-top: 16px;
                    .content{
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
