@import "../../sass/variables";
@import "../../sass/colors";

.about-page {
  :global {
    
    main {
      margin-top: 0;

      > div:nth-child(2n) {
        background-color: map-get($Neutrals, "N10");
      }
    }
  }
}