@import "../../sass/variables";

.header {
  background-color: map-get($Neutrals, "N0");
  padding: 20px 0;
  position: sticky;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all linear 0.2s;

  .customColor {
    background-color: map-get($Primary, "P40");
    span {
      color: map-get($Primary, "P300");
    }
  }

  :global {
    .container {
      align-items: center;
    }

    .navbar-brand {
      font-size: unset;
      margin-right: 72px;
      padding: 0;

      svg {
        width: 46px;
        height: 46px;
      }
    }

    .navbar {
      padding: 0;
    }

    .navbar-nav {
      margin-right: auto;
      align-items: center;

      .nav-item {
        padding: 0 12px;
        position: relative;

        &:hover,
        &.show {
          span {
            color: map-get($Primary, "P300");
          }
          &::after {
            content: "";
            height: 2px;
            background-color: map-get($Primary, "P300");
            width: 40%;
            position: absolute;
            bottom: -8px;
            left: 30%;
          }
        }
        &.active {
          &::after {
            content: "";
            height: 2px;
            background-color: map-get($Primary, "P300");
            width: 40%;
            position: absolute;
            bottom: -8px;
            left: 30%;
          }
        }

        a {
          color: map-get($Neutrals, "N900");
          padding: 0;
        }

        .dropdown-menu {
          box-shadow: 0px 1px 3px rgba(43, 50, 64, 0.2);
          border-radius: 8px;
          top: calc(100% + 12px);
          left: 12px;
          border: none;
          padding: 16px 18px;

          .description {
            background-color: map-get($Neutrals, "N20");
            width: 100%;
            height: 44px;
            border-radius: 4px;
            padding: 10px 12px;
            margin-bottom: 8px;
            span {
              color: map-get($Primary, "P300");
            }
          }

          ul {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(6, auto);
            padding: 0 12px;

            li {
              padding: 0;
              margin: 0 32px 6px 0;
              position: relative;
              span {
                color: map-get($Neutrals, "N900");
              }

              &:hover {
                background-color: transparent;
                span {
                  color: map-get($Primary, "P300");
                }
                &::before {
                  content: "\2022";
                  color: map-get($Primary, "P300");
                  position: absolute;
                  left: -12px;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
    .btn {
      text-decoration: none;
      box-shadow: none;
    }

    .responsive-postjob {
      display: none;
      border-radius: 8px;
    }

    .navbar-toggler {
      outline: none;
      padding: 0 8px 0 0;
    }
  }

  &[class*="scrolled"] {
    background-color: map-get($Neutrals, "N0");
    //padding: 16px 0;
    box-shadow: 0px 4px 4px rgba(201, 201, 201, 0.13);
  }

  @media (max-width: 992px) {
    padding: 16px 24px;
    overflow: hidden;

    :global {
      .navbar {
        height: 100%;
      }
      .navbar-right {
        .login {
          font-size: 16px;
          line-height: 20px;
        }
      }
      .navbar-collapse {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 24px;
        transition: all linear 0.3s;
        height: calc(100% - 124px) !important;
        align-self: baseline;
      }

      .container {
        align-content: flex-start;
      }

      .navbar-brand {
        margin-right: auto;
      }

      .responsive-postjob {
        display: flex;
        align-items: center;
        // height: 46px;
        // @media (max-width: 992px) {
        //     height: 32px;
        // }
      }

      .navbar-nav {
        width: 100%;
        overflow: overlay;
        margin-bottom: 24px;

        //margin: 0 -10vw;
        .nav-item {
          margin: 0 0 24px;
          width: 100%;
          text-align: center;

          .nav-link span {
            font-size: map-get($typo-sub-heading1-large, "size");
          }

          a {
            color: map-get($Neutrals, "N0");
            text-align: center;
          }

          &::after {
            content: none !important;
          }

          .dropdown-menu {
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;

            ul {
              text-align: center;
              display: flex;
              flex-direction: column;
              transition: all linear 0.5s;
              max-height: 0;
              overflow: auto;
              padding: 0;
              opacity: 0;
              margin-top: 4px;
              opacity: 1;
              display: flex;
              flex-direction: column;
              max-height: unset;

              li {
                padding: 8px 0;
                margin: 0;

                span {
                  font-size: map-get($typo-sub-heading2-large, "size");
                  color: map-get($Neutrals, "N0");
                }
              }
            }
          }
        }
      }

      .overlay {
        transition: all linear 0.3s;
        opacity: 0;
        background-color: map-get($Neutrals, "N900");
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  &[class*="collapsed"] {
    // background-color: transparent !important;
    height: 100vh;
    position: absolute;
    top: 5px;

    :global {
      .navbar-collapse {
        display: flex;
      }
      .container {
        height: 100%;
      }
      .navbar-toggler {
        color: map-get($Neutrals, "N0");
      }

      .responsive-postjob {
        display: none;
      }

      .overlay {
        opacity: 0.9;
        top: 0;
      }
    }
  }
}
