@import "../../../../sass/variables";
.task-search {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 4px 0 16px;
  :global {
    .task-search-box {
      width: 100%;
      box-sizing: border-box;
      border-radius: 5px;
      margin-top: -7px;
      @media (max-width: 576px) {
        margin-right: 0;
      }
      .input-wrapper {
        background-color: map-get($Neutrals, "N30");
        width: 100%;
        padding: 8px 12px;
        border: none;
        border-radius: 8px;

        input {
          height: 20px;

          &::placeholder {
            color: map-get($Neutrals, "N100");
            font-size: map-get($typo-body3-large, "size");
            line-height: map-get($typo-body3-large, "height");
            font-weight: map-get($typo-body3-large, "weight");

            @media (max-width: 576px) {
              font-size: map-get($typo-body3-small, "size");
              line-height: map-get($typo-body3-small, "height");
              font-weight: map-get($typo-body3-small, "weight");
            }
          }
        }
      }

      .icon {
        color: map-get($Neutrals, "N100");
        font-size: 16px;
        cursor: pointer;

        &:hover,
        &:focus {
          color: map-get($Neutrals, "N300");
        }
      }
    }
  }

  @media (max-width: 992px) {
    width: 100%;
    margin: 4px 0;
    padding: 0 8px;
    :global {
      .task-search-box {
        .input-wrapper {
          background-color: map-get($Neutrals, "N0");
          border: 1px solid map-get($Neutrals, "N50");

          input::placeholder {
            color: map-get($Neutrals, "N80");
          }
        }

        .icon {
          color: map-get($Neutrals, "N50");
          stroke-width: 1;
        }
      }
    }
  }
}
