.profile-avatar-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    .profile-avatar {
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .verified_icon {
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 18px;
      }
    }
    .level_icon {
      position: absolute;
      right: 6px;
      bottom: -4px;
      display: inline-block;
      background: white;
      border-radius: 50px;
      padding: 3px;
      img {
        height: 22px;
      }
    }
  }