@import "../../sass/variables";

.input-wrapper {
  background-color: #fff;
  border-radius: 8px;
  padding: 6px 16px;
  border: 1px solid #c9c9c9;
  position: relative;

  &.focused {
    border-color: $primary;
  }

  &.checked {
    border-color: $primary;
    box-shadow: 0px 5px 15px rgba(43, 50, 64, 0.2);
  }

  &.no-border {
    border-color: transparent;
    box-shadow: 0px 1px 3px rgba(43, 50, 64, 0.2);
  }

  &.no-background {
    border-color: transparent;
    box-shadow: unset;
    background: unset;
    padding: 0;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.error {
    border-color: map-get($Error, "R300");
  }

  .input-header {
    justify-content: space-between;
    position: absolute;
    transition: all linear 0.2s;
    transform: translateY(40%);
    width: calc(100% - 32px);
    display: flex;
    z-index: 5;

    label {
      transition: inherit;
      color: map-get($Neutrals, "N100");
      line-height: 1.7;
      margin: 0;
      flex-grow: 1;
      cursor: text;
    }

    .counter {
      flex-shrink: 0;
      display: flex;
      align-items: center;

      &.allow {
        color: map-get($Success, "G300");
      }

      &.disallow {
        color: map-get($Neutrals, "N100");
      }
    }
  }

  &.focused,
  &.non-empty {
    .input-header {
      transform: translateY(0);

      label {
        color: map-get($Primary, "P300");
      }
    }

    > div:not(.input-header) {
      .icon-before {
        display: flex;
      }
    }
  }

  > div:not(.input-header) {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    input {
      flex-grow: 1;
      border: none;
      outline: none;
      width: 0;
      border-radius: 4px;
      background-color: transparent;

      &:focus {
        outline: none !important;
      }
    }

    [class*="icon"] {
      display: flex;
      align-items: center;

      svg {
        font-size: 20px;
      }
    }

    .icon-before {
      margin-right: 8px;
    }

    .icon-after {
      margin-left: 8px;
    }

    .toggle-password {
      font-size: 20px;
      color: #4d576a;
      cursor: pointer;
      display: flex;
    }

    input[type="checkbox"],
    input[type="radio"] {
      flex-grow: 0;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: 1px solid map-get($Neutrals, "N50");
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;
      flex-shrink: 0;

      & + label {
        margin: 0 10px;
        align-self: center;
        cursor: pointer;
        flex-grow: 1;
      }

      &:checked {
        background: map-get($Primary, "P300");
        border-color: transparent;

        &::before {
          position: absolute;
          left: 7px;
          bottom: 4px;
          height: 30%;
          width: 2px;
          background-color: #fff;
          content: "";
          transform: rotate(-45deg);
          transform-origin: left bottom;
          border-radius: 50px;
        }

        &::after {
          position: absolute;
          left: 7px;
          bottom: 4px;
          height: 2px;
          width: 60%;
          background-color: #fff;
          content: "";
          transform: rotate(-45deg);
          transform-origin: left bottom;
          border-radius: 50px;
        }
      }
    }

    input[type="checkbox"] {
      border-radius: 4px;
    }

    input[type="radio"] {
      border-radius: 50px;
    }

    textarea {
      border: none;
      width: 100%;
      background-color: transparent;

      &:focus {
        outline: none !important;
      }
    }
  }

  &:not(.no-header) {
    > div:not(.input-header) {
      margin-top: 20px;

      [class*="icon"] {
        margin: 0;
      }

      .icon-before {
        display: none;
      }

      .icon-after {
        align-self: normal;
        margin-top: -12px;
        max-height: 26px;
      }
    }

    &:not(.focused) {
      input::placeholder {
        visibility: hidden;
      }
    }
  }

  input[class*="no-checkbox"] {
    display: none;
  }

  .handle {
    background-color: map-get($Neutrals, "N40");
    width: 40px;
    height: 16px;
    border-radius: 50px;
    position: relative;
    transition: all ease-in 0.2s;
    margin-left: auto !important;
    flex-grow: 0 !important;

    &:after {
      content: "";
      background-color: map-get($Primary, "P50");
      width: 24px;
      height: 24px;
      border-radius: 100%;
      position: absolute;
      top: -4px;
      left: 0;
      transition: all ease-in 0.2s;
    }

    &.active {
      background-color: map-get($Primary, "P75");

      &:after {
        left: 20px;
        background-color: map-get($Primary, "P300");
      }
    }
  }

  .dropdown-container {
    width: 100%;
    z-index: 98;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding: 8px 0;
    cursor: pointer;

    .label {
      margin-right: auto;
      font-weight: 500;
      font-size: 12px;
      display: block;
      white-space: nowrap;
    }

    .dropdown-icon {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 4px;

      svg {
        position: relative;
        color: #b6b6b6;

        &:first-child {
          margin-bottom: -3px;
        }

        &:last-child {
          margin-top: -3px;
        }
      }
    }
  }

  .dropdown-body {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: auto;
    background: #fff;
    padding: 8px 0;
    z-index: 9995;
    box-shadow: 0px 20px 40px rgba(43, 50, 64, 0.15);
    border: 1px solid #ddd;
    border-radius: 8px;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    &.open {
      transform: translateY(0) !important;
      opacity: 1;
      visibility: visible;
      transition: all 0.2s;
    }
    .multiSelect {
      display: flex;
      justify-content: space-between;
    }
    .dropdown-item {
      padding: 4px 10px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: #ececec;
        transition: all 0.2s;
      }

      .label {
        display: block;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 4px 8px;
      }
    }
  }
}

.input-error {
  margin: 4px 16px;
  display: block;
  margin-top: 2px;
  color: map-get($Error, "R300");
  font-weight: 400;
}
