@import '../../sass/variables';

.progress {
    width: 46px;
    height: 46px;
    line-height: 150px;
    background: none;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #EFEFEF;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-value {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 10px;
    color: #4D576A;
    text-align: center;
    display: flex;
    place-content: center;
    align-items: center;
}

.progress .progress-bar {
    border-color: $primary;
}

.progress.warning .progress-bar {
    border-color: map-get($Warning, "300");
}

.progress.danger .progress-bar {
    border-color: map-get($Error, "R300");
}

.progress.success .progress-bar {
    border-color: map-get($Success, "G300");
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress.progress25 .progress-right .progress-bar {
    animation: loading-1 0.5s linear forwards 1.8s;
}

.progress.progress50 {
    .progress-right .progress-bar {
        animation: loading-2 1s linear forwards 1.8s;
    }
}

.progress.progress75 {
    .progress-right .progress-bar {
        animation: loading-2 0.4s linear forwards 1.8s;
    }

    .progress-left .progress-bar {
        animation: loading-3 0.4s linear forwards 2.2s;
    }
}

.progress.progress100 {
    .progress-right .progress-bar {
        animation: loading-2 0.4s linear forwards 1.8s;
    }
    .progress-left .progress-bar {
        animation: loading-4 0.4s linear forwards 2.2s;
    }
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}