@import "../../../../sass/variables";

.testimonials {
  position: relative;
  // height: 562px;
  height: auto;
  background-color: map-get($Neutrals, "N0") !important;
  margin-bottom: 65px;

  .started {
    @media (max-width: 779px) {
      margin-top: -40px !important;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px !important;
    }

    .btn {
      // height: 56px;
      margin-left: 20px;
      padding: 16px 46px;
      border-radius: 8px;
      font-size: 0;
      line-height: 0px;
      @media (max-width: 779px) {
        margin: 0;
        // height: 56px;
        width: auto !important;
        padding: 7px 24px;
      }
    }

    .p {
      width: 280px;
      margin-top: 5px;
      color: map-get($Neutrals, "N900");
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }
  }

  :global {
    .container {
      position: relative;
      height: 100%;
      margin-top: 88px;
      .header {
        h3 {
          color: map-get($Neutrals, "N900");
        }
        span {
          color: map-get($Neutrals, "N900");
          font-size: 18px;
          line-height: 25px;
          font-weight: 400;
        }
      }
    }
    .btn-container {
      margin: 388px auto 0 !important;
      max-width: 750px;
      display: flex;
      align-items: baseline;
    }
    .review {
      background-color: map-get($Neutrals, "N0");
      box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.1);
      padding: 36px 36px;
      border-radius: 6px;
      position: absolute;
      width: calc(78% - 5vw);
      max-height: 280px;
      top: 189%;
      // transform: translateY(-50%);
      left: 22%;
      z-index: 10;

      h4 {
        margin-bottom: 12px;
        color: map-get($Neutrals, "N1000");
      }

      p {
        color: map-get($Neutrals, "N900");
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .icon {
        color: map-get($Neutrals, "N800");
        font-size: 24px;
        position: absolute;
        top: -12px;
        left: -12px;
      }
      .description {
        display: flex;
        margin-top: 34px;
        .writer {
          display: flex;
          margin-top: 5px;
          width: 32%;
          .avatar {
            border-radius: 50px;
            width: 65px;
            height: 65px;
            margin: 0;
            overflow: hidden;
          }
          .typo-sub-heading2 {
            line-height: 16px;
            margin-bottom: 8px;
          }
          > div {
            display: flex;
            flex-direction: column;
            margin-left: 16px;

            > * {
              margin-bottom: auto;
            }

            .role {
              color: #949596;
              margin-bottom: 8px;
            }

            .star-rating {
              margin: 0;

              .rating {
                margin: 0;

                .star {
                  margin: 0 0 0 2px;

                  svg {
                    font-size: 10px !important;
                  }
                }
              }
            }
          }
        }
        .writer {
          .typo-sub-heading2 {
            color: map-get($Neutrals, "N900");
            font-size: 13px;
            font-weight: 500;
          }
          .role {
            color: map-get($Neutrals, "N100") !important;
          }
        }
        .extra-description {
          display: flex;
          flex-direction: column;
          margin-left: 46px;
          border-left: 1px solid map-get($Neutrals, "N50");
          padding-left: 16px;
          .typo-body3 {
            margin-bottom: 1px;
            color: map-get($Neutrals, "N900");
          }
          .typo-sub-heading2 {
            color: map-get($Neutrals, "N100");
          }
          .typo-sub-heading3 {
            color: map-get($Neutrals, "N100");
            font-size: 13px;
            line-height: 16px;
            font-weight: 500;
          }
          .job-success {
            margin-bottom: 3px;
            .percentage {
              color: map-get($Success, "G300");
              margin-right: 3px;
            }
            .text {
              color: map-get($Success, "G400");
            }
          }
        }
      }
    }

    .slick-slider {
      position: absolute;
      top: 43px;
      right: 0;
      width: 100%;
      height: 430px;
      background-image: url("/images/home/testimonial-bg.svg");
      background-repeat: no-repeat;
      background-position: calc(50% + 220px) 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .slick-list {
        width: calc(50% - 600px + 8vw);
        float: right;
      }

      .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;

        .slick-slide {
          padding: 0 12px;
          width: 280px;
          height: 300px;
          opacity: 0.3;

          > div {
            height: 100%;
          }

          .avatar-slide {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
          }

          .review {
            display: none;
          }

          &.slick-active {
            width: 360px;
            height: 450px;
            opacity: 1;

            img {
              width: auto !important;
            }
          }
        }
      }

      .slick-arrow {
        bottom: 0;
        top: calc(50% - 54px);
        left: calc(50% - 600px);
        right: auto;
        color: map-get($Primary, "P300");
        background-color: map-get($Primary, "P50");
        border-radius: 0;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transform: none;

        svg {
          font-size: 24px;
        }

        &::before {
          content: none;
        }

        &.slick-next {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          left: calc(50% - 600px + 54px);
        }

        &.slick-prev {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        &:hover {
          color: map-get($Neutrals, "N0");
          background-color: map-get($Primary, "P300");
        }
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    :global {
      .review {
        left: 16%;
        width: calc(84% - 20vw);
      }

      .slick-slider {
        .slick-list {
          width: calc(50% - 480px + 15vw);
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    :global {
      .review {
        left: 16%;
        width: calc(84% - 20vw);
      }

      .slick-slider {
        .slick-list {
          width: calc(50% - 480px + 25vw);

          .slick-slide {
            &.slick-active {
              height: 350px;
            }
          }
        }

        .slick-arrow {
          left: calc(50% - 480px);

          &.slick-next {
            left: calc(50% - 480px + 54px);
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    height: unset;

    :global {
      .container {
        height: unset;
        margin-top: 32px !important;
        // padding: 0 24px;
      }
      .btn-container {
            max-width: 720px;
        padding: 0 15px;
        margin: 50px auto 0 auto !important;
        display: flex;
        align-items: baseline;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        // .typo-heading4 {
        //   margin-bottom: 23px;
        // }
        .btn {
              padding: 7px 24px;
          .typo-heading4 {
            font-size: 14px;
          }
        }
      }

      .style_started {
        margin-top: 40px;
      }
      .review {
        display: none;
      }

      .slick-slider {
        position: relative;
        top: 28px;
        height: unset;
        background: unset;

        .slick-list {
          width: 100%;
          float: unset;
          // padding: 0 23px !important;
        }

        .slick-track {
          align-items: unset;
          justify-content: unset;

          .slick-slide {
            // padding: 0 16px;
            width: 75vw;
            height: unset;

            > div {
              display: flex;
              align-items: center;

              margin: 67px 0;
              height: 307px;
            }

            .avatar-slide {
              display: none;
            }

            &:not(.slick-active) {
              .review {
                h4 {
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }

                .icon {
                  font-size: 18px;
                  top: -10px;
                  left: -10px;
                }

                p {
                  margin-bottom: 0;
                }

                .writer {
                  margin-top: 12px;

                  .avatar {
                    width: 45px;
                    height: 45px;
                  }
                }
              }
            }

            .review {
              display: flex;
              flex-direction: column;
              position: relative;
              transform: unset;
              left: 0;
              top: 0;
              width: unset;
              max-height: unset;
              box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
              padding: 16px 16px 24px 16px;
             
              .description {
                flex-direction: column-reverse;
                margin-top: 10px;
                .writer {
                  width: 100%;
                  .typo-sub-heading2 {
                    font-weight: 600;
                    color: map-get($Neutrals, "N900");
                    margin-bottom: 5px;
                  }
                }
                .extra-description {
                  width: 100%;
                  margin-bottom: 31px;
                  border: none;
                  margin-left: 0px;
                  padding-left: 0px;
                }
              }
              p {
                -webkit-line-clamp: 7;
              }

              .writer {
                margin-top: auto;
              }
            }

            &.slick-active {
              width: 75vw;
            }
          }
        }
      }
    }
  }
      @media (max-width: 768px) {
        :global {
        .container {
              padding: 0 24px;

              
        }
        .btn-container {
                padding: 0 24px;
              }
            }
    }

  @media (max-width: 576px) {
    margin: 71px 0 48px;
    height: unset;

    :global {
      .header {
        h3 {
          color: map-get($Neutrals, "N900");
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;
          margin-bottom: 13px;
        }
        span {
          color: map-get($Neutrals, "N900");
          font-size: 14px;
          line-height: 25px;
          font-weight: 400;
        }
      }
      .btn-container {
        flex-direction: column;
        text-align: left;
        margin-top: 32px !important;
        align-items: flex-start;
        .typo-heading4 {
          margin-bottom: 16px;
          color: map-get($Neutrals, "N900");
          // font-size: 16px;
          // line-height: 24px;
          // font-weight: 600;
        }
        .btn {
          .typo-heading4 {
            font-size: 14px;
            color: map-get($Neutrals, "N0");
          }
        }
      }
      .slick-slider {
        top: 10px;
        .slick-track {
          .slick-slide {
            // padding: 0 7px;
            width: 60vw;
            &.slick-active{
              width: 75vw;
            }
            > div {
              margin: 64px 0 24px 0;
            }
            .review {
              padding: 16px 16px;
              box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
              h4 {
                font-weight: 600;

                font-size: 16px;
                line-height: 24px;
              }
              p {
                font-weight: 400;

                font-size: 12px;
                line-height: 16px;
              }
              .description {
                flex-direction: column-reverse;
                margin-top: 10px;
                .writer {
                  width: 100%;
                  .typo-sub-heading2 {
                    font-weight: 600;
                    color: map-get($Neutrals, "N900");
                    margin-bottom: 5px;
                  }
                }
                .extra-description {
                  width: 100%;
                  margin-bottom: 31px;
                  border: none;
                  margin-left: 0px;
                  padding-left: 0px;
                  .typo-body3 {
                    color: map-get($Neutrals, "N1000");
                    font-weight: 400;

                    font-size: 14px;
                    line-height: 25px;
                  }
                }
              }
            }
          }
        }
      }
      .testimonials {
        .started {
          margin-top: -17px !important;
          text-align: left;
        }
      }
    }
  }
}
