@import '../assets/fonts/Mulish/style';

$font-family-base: 'Mulish',sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$typo-heading0-large : ("size":42px, "height":57px, "weight":700);
$typo-heading0-small : ("size":27px, "height":36px, "weight":700);

$typo-heading1-large : ("size":28px, "height":35px, "weight":500);
$typo-heading1-small : ("size":20px, "height":24px, "weight":600);

$typo-heading2-large : ("size":27px, "height":36px, "weight":700);
$typo-heading2-small : ("size":24px, "height":32px, "weight":700);

$typo-heading3-large : ("size":24px, "height":32px, "weight":700);
$typo-heading3-small : ("size":20px, "height":24px, "weight":600);

$typo-heading4-large : ("size":20px, "height":24px, "weight":600);
$typo-heading4-small : ("size":16px, "height":24px, "weight":600);

$typo-sub-heading1-large : ("size":16px, "height":24px, "weight":600);
$typo-sub-heading1-small : ("size":13px, "height":16px, "weight":500);

$typo-sub-heading2-large : ("size":14px, "height":24px, "weight":600);
$typo-sub-heading2-small : ("size":13px, "height":16px, "weight":500);

$typo-sub-heading3-large : ("size":13px, "height":16px, "weight":500);
$typo-sub-heading3-small : ("size":12px, "height":16px, "weight":500);

$typo-body1-large : ("size":18px, "height":25px, "weight":400);
$typo-body1-small : ("size":14px, "height":25px, "weight":400);

$typo-body2-large : ("size":16px, "height":24px, "weight":400);
$typo-body2-small : ("size":14px, "height":25px, "weight":400);

$typo-body3-large : ("size":14px, "height":25px, "weight":400);
$typo-body3-small : ("size":12px, "height":16px, "weight":400);

$typo-caption1-large : ("size":12px, "height":16px, "weight":400);

$typo-caption2-large : ("size":12px, "height":16px, "weight":500);



$typo-weights : ("thin":200, "normal":400, "bold":500, "black":600);