@import "./typography";
@import "./colors";

// Colors
$primary: map-get($Primary, "P300");
$secondary: map-get($Neutrals, "N500");
$success: map-get($Success, "G300");
$info: map-get($Primary , "P40" );
$warning: map-get($Warning, "Y300");
$danger: map-get($Error, "R300");
$light: map-get($Neutrals, "N50");
$dark: map-get($Neutrals, "N900");

$body-color: map-get($Neutrals, "N900");

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
) !default;
