@import "../sass/variables";
@import '~bootstrap/scss/bootstrap';

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    @media (min-width:992px){
        padding: 0;
    }
}
a,
a:hover {
    text-decoration: none;
}

html {
    scrollbar-color: #00000021 transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #00000021;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00000031;
    border: solid 5px #00000031;
}

.app-flex-center {
    display: flex !important;
    align-items: center;
}

.app-flex-end {
    display: flex !important;
    align-items: app-flex-end;
}

.app-flex-justify {
    display: flex !important;
    justify-content: center;
}

.app-flex-both-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.app-flex-left {
    margin-right: auto;
}

.app-flex-right {
    margin-left: auto;
}

.app-flex-bottom {
    margin-top: auto;
}

.app-flex-cover {
    display: flex;
    width: 100%;
    height: 100%;
}

.app-flex-inline-center {
    display: inline-flex;
    align-items: center;
}

.app-flex-inline-both-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.app-flex-column {
    display: flex;
    flex-direction: column;
}

.both-center {
    align-items: center;
    justify-content: center;
}

.app-flex-column-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.btn-lg {
    padding: 0.75rem 1rem;
}

.btn-warning {
    color: #fff !important;
}
.btn-info {
    color: map-get($Primary, 'P300' ) !important;
}

/* absolute-label */
.absolute-label {
    position: relative;

    &:before,
    &:after {
        position: absolute;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5px);
        transition: all 0.2s;
    }

    &:after {
        content: attr(data-label);
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -20px;
        background: #2B3240;
        color: white;
        font-size: 10px;
        padding: 4px 10px;
        line-height: 1;
        border-radius: 6px;
        white-space: nowrap;
    }

    &:hover,
    &:focus {

        &:before,
        &:after {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            transition: all 0.2s;
        }
    }
}

.pill-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 500;
    width: 72px;
    padding: 4px 10px;
    border-radius: 5px;
    line-height: 14px;
    color: #3f3f3f;
    background: #3f3f3f14;
}

/* fade button*/
.jb-fade-btn {
    display: block;
    height: 38px;
    line-height: 1;
    padding: 6px 16px;
    background: #efefef;
    color: #333;
    border-radius: 6px;
    border: 0;
    font-size: 0.75rem;
    font-weight: 500;
    text-decoration: none !important;
    transition: all 0.2s;

    &:hover,
    &:focus {
        background: #d8d8d8;
        color: #4c4c4c;
        outline: 0;
        text-decoration: none;
        transition: all 0.2s;
    }

    svg {
        font-size: 13px;
    }

    .btn-icon {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background: #5468fd2e;
        color: #4153dd;
    }
}

.jb-fade-primary {
    background: #dcdef3ba;
    color: $primary;

    &:hover,
    &:focus {
        background: #5468fd4a;
        color: $primary;
    }
}

.jb-fade-success {
    background: #00800026;
    color: $success;

    &:hover,
    &:focus {
        background: #00800042;
        color: $success;
    }
}

.jb-fade-danger {
    background: #ff004117;
    color: $danger;

    &:hover,
    &:focus {
        background: #ff004129;
        color: $danger;
    }
}

.jb-fade-warning {
    background: #ee885229;
    color: $warning;

    &:hover,
    &:focus {
        background: #ee88523b;
        color: $warning;
    }
}

@-webkit-keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* spinner */


/* show per device size */
@media (max-width: 767px) {
    .desktop-visible {
        display: none;
    }

    .tablet-visible {
        display: block;
    }
}

@media (min-width: 767px) {
    .desktop-visible {
        display: block;
    }

    .tablet-visible {
        display: none;
    }
}

.notification-container--top-right {
    min-width: 200px !important;

    .notification__item {
        border-radius: 8px;

        .notification__content {
            padding: 0;

            .notification__message {
                padding: 12px 16px;
                line-height: 1;
            }

            .notification__timer {
                background-color: transparent;
                height: 5px;
                margin: 0;

                .notification__timer-filler {
                    background-color: rgba(0, 0, 0, 0.1);
                    height: 5px;
                }
            }
        }
    }
}

.enable-cookie {
    align-items: baseline;
    background-color: map-get($Neutrals, "N0");
    box-shadow: 0px 0 8px rgba(43, 50, 64, 0.2);
    color: map-get($Neutrals, "N900");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 12px;

    @media(max-width:992px) {
        text-align: center;
        justify-content: center;

        .btn {
            margin-top: 12px;
        }
    }

    @media(min-width:576px) {
        padding: 12px calc((100% - 540) / 2);
    }

    @media(min-width:768px) {
        padding: 12px calc((100% - 720px) / 2);
    }

    @media(min-width:992px) {
        padding: 12px calc((100% - 960px) / 2);
    }

    @media(min-width:1200px) {
        padding: 12px calc((100% - 1140px) / 2);
    }

    .btn {
        margin-left: 8px;
        font-size: 14px;
    }
}

#chat-widget-container {
    z-index: 1000 !important;
}