@import '../../sass/variables';

.no-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 250px;

    .icon {
        border-radius: 4px;
        width: 40px;
        height: 40px;
        margin-bottom: 16px;
        background-color: map-get($Primary, 'P300');
        color: map-get($Neutrals, 'N0');
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            font-size: 30px;
        }
    }

    .label {
        color: map-get($Neutrals, 'N900' );
        margin-bottom: 8px;
    }

    .desc {
        color: "#4D576A";

        span {
            color: map-get($Primary, 'N300');
        }

        button {
            display: contents;
            font-size: inherit;
            font-weight: inherit;
        }
    }
}