@import '../../../../sass/variables';

.newchip-banner{
    position: absolute;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: map-get($Primary, "P50");
    top: 0;
    box-shadow: 0 0 2px map-get($Neutrals, "N30");
    text-align: center;
    z-index: 10;

    :global {
        .btn-close{
            margin-right: 40px;
            outline: none;
            box-shadow: none;
            @media(max-width:768px){
                margin-right: 16px;
            }
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            .color{
                color: map-get($Neutrals, "N900");
            }
            .btn{
                padding: 8px 12px;
                display: flex;
                border-radius: 8px;
                @media(max-width:992px){
                    padding: 4px 8px;
                }
                svg{
                    font-size: 20px;
                }
            }
        }
    }
}
.closed{
    display: none;
}