@import "../../../../sass/variables";

.post-job {
	background-color: map-get($Neutrals, "N10");
	:global .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 48px 176px;
		.header {
			margin-top: 31px;
			text-align: center;
			margin-bottom: 24px;
			h2 {
				color: map-get($Neutrals, "N900");
			}
		}
		.category-item {
			display: flex;
			flex-grow: 1;
			margin-bottom: 18px;
			padding: 0 8px;
			.link-container {
				background-color: map-get($Neutrals, "N0");
				flex-shrink: 1;
				border-radius: 8px;
				padding: 20px 25px;
				display: flex;
				flex-direction: column;
				&:hover {
					box-shadow: 0px 4px 8px 0px #00000040;
				}
				img {
					margin-left: -35px !important;
					border-radius: 6px;
				}
				.category-name {
					margin-top: 10px;
					color: map-get($Neutrals, "N1000");
					text-align: left;
					font-style: normal;
					letter-spacing: 0em;
					text-align: left;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					word-break: break-word;
				}
				.category-description {
					font-style: normal;
					letter-spacing: 0em;
					text-align: left;
					margin-top: 4px;
					color: map-get($Neutrals, "N600");
				}
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1200px) {
		:global .container {
			padding: 48px 116px;
		}
	}
	@media (max-width: 992px) {
		:global .container {
			padding: 0 24px 32px;
			.category-item {
				.link-container {
					padding: 20px 16px;
				}
			}
		}
	}
	@media (max-width: 768px) {
		:global .container {
			.typo-sub-heading1 {
				font-size: 14px;
				line-height: 24px;
				font-weight: 600;
			}
		}
	}
}
