@import '../../../../sass/variables';
@import '../../../../sass/colors';

.task-item {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: map-get($Neutrals, 'N300') !important;
    margin-bottom: 12px;

    &.active {
        background-color: map-get($Primary, 'P50');
    }

    :global {
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .title,
        .offers_count {
            color: map-get($Neutrals, 'N900');
        }

        .row {
            flex-wrap: unset;
            margin: 0 0 4px;
            justify-content: space-between;
            align-items: flex-start;

            &:last-child {
                margin: 0;
            }

            .offers {
                .offers_count {
                    margin-left: 12px;
                }

                .avatars {
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                        margin-left: -12px;
                        position: relative;
                        border: solid 2px map-get($Neutrals, 'N0');

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .budget {
            color: map-get($Primary, 'P300');
            margin-left: 8px;
        }

        .meta {
            svg {
                margin-right: 6px;
                color: map-get($Neutrals, 'N70');
            }
        }

        [class*=status-] {
            position: relative;
            margin-top: -16px;
            padding: 8px 0;

            &::before {
                display: block;
                content: '';
                border-top: solid 2px;
                width: 26px;
                position: absolute;
                top: 0;
            }
        }

        .status-open {
            color: map-get($Primary, 'P300');
        }

        .status-assigned {
            color: map-get($Warning, 'Y300');
        }

        .status-completed {
            color: map-get($Success, 'G400');
        }

        .status-cancelled {
            color: map-get($Error, 'R200');
        }

        .status-draft {
            color: map-get($Primary, 'P100');
        }

        .status-closed {
            color: map-get($Neutrals, 'N80');
        }

        .status-overdue {
            color: map-get($Error, 'R100');
        }
    }
}