@import "../../../../sass/variables";
.why-jobtick {
    background-color: map-get($Neutrals, "N10");

    .started {
        text-align: center;
        margin-bottom: 60px;

        .row {
            display: flex;
            
            .btn {
                margin: 0 7px;
                border: none !important;
                height: 64px;
                padding: 0 30px;
                width: 216px;
                
                @media (max-width:779px) {
                    margin: 0 3px;
                    height: 56px;
                    padding: 0 10px;
                    width: 188px;
                }
                @media (max-width:576px){
                    width: 150px;
                }

                &.poster {
                    background-color: map-get($Primary, "P40");
                    span {
                        color: map-get($Primary, "P300");
                    }
                }
            }
        }
    }

    :global .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .header {
            text-align: center;
            margin-top: 48px;
            width: 41%;
            h2,
            p {
                color: map-get($Neutrals, "N900");
                margin-bottom: 12px;
            }
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            margin: 80px 0 60px;
            [class*="col"] {
                display: flex;
                flex-direction: column;
                align-items: center;
                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: map-get($Neutrals, "N0");
                    border-radius: 100px;
                    width: 132px;
                    height: 132px;
                }
                .content {
                    text-align: center;
                    padding: 16px;
                    h3 {
                        color: map-get($Neutrals, "N1000");
                    }
                    span {
                        color: map-get($Neutrals, "N900");
                    }
                }
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        :global .container {
            .header {
                width: 43%;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        :global .container {
            .header {
                width: 60%;
            }
            .items {
                [class*="col"] {
                    margin: 12px 0;
                }
            }
        }
    }
    @media (max-width: 768px) {
        :global .container {
            .header {
                width: 80%;
                p {
                    margin-bottom: 18px;
                }
            }
            .items {
                margin: 0 0 48px;
                [class*="col"] {
                    margin-top: 18px;
                    .content {
                        width: 65%;
                    }
                }
            }
            .typo-sub-heading1{
    font-weight: 700 !important;
            }
        }
    }
}
