.mMedia-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #00000069;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    .viewer-control {
        position: absolute;
        z-index: 98;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: flex-end;
        padding: 10px;
        .control {
            height: 36px;
            width: 36px;
            border-radius: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none !important;
            font-size: 20px;
            color: white;
            background: #0000009e;
            &.control-danger {
                color: white;
                background: #c23a3acf;
            }
            &.control-success {
                color: white;
                background: #3fa156bd;
            }
        }
    }
    .viewer-body {
        position: relative;
        z-index: 96;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        transition: all 0.3s;
        .viewer-image {
            width: 100%;
            max-width: 94%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                border-radius: 7px;
            }
        }
        .viewer-video {
            width: 75%;
            height: auto;
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }
}