@import "../../../../../../sass/variables";

.attachment {
    display: flex;
    flex-direction: column;

    :global {
        .attachment-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            .optional-typo{
                span{
                    color: map-get($Neutrals, 'N300' );
                }
            }
        }
        .attachment-upload {
            display: flex;
            flex-direction: row;
            margin: 0 -8px;

            > div {
                margin: 0 8px;
            }

            .dropzone {
                background-color: map-get($Neutrals, "N30");
                padding: 16px 24px;
                color: map-get($Neutrals, "N300");
                flex-grow: 1;
                border-radius: 8px;
                border: none !important;
                outline: none !important;
                display: flex;
                width: 350px;
                height: 56px;
                align-items: center;

                svg {
                    font-size: 24px;
                    margin-right: 16px;
                }

                .spinner {
                    border-color: map-get($Neutrals, "N300");
                    margin-right: 16px;
                }
            }
            .choose-file-btn {
                background-color: map-get($Neutrals, "N30");
                padding: 16px 24px;
                color: map-get($Neutrals, "N300");
                flex-shrink: 0;
                border-radius: 8px;
                margin: 0;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: map-get($Neutrals, "N40");
                }

                svg {
                    font-size: 24px;
                    margin-right: 16px;
                }

                .spinner {
                    border-color: map-get($Neutrals, "N300");
                    margin-right: 16px;
                }
            }
        }
        .mobile-upload,
        .mobile-choose {
            display: none;
        }

        .attachment-items {
            border: 1px solid map-get($Neutrals, "N50");
            border-radius: 8px;
            padding: 8px !important;
            margin: 12px 8px;
            display: flex;
            flex-wrap: wrap;
            position: relative;

            .item {
                overflow: hidden;
                position: relative;
                padding: 8px;
                width: 25%;

                &::after {
                    content: "";
                    padding-bottom: 100%;
                    display: block;
                }

                .remove-btn {
                    width: 34px;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: map-get($Error, "R300");
                    background-color: map-get($Neutrals, "N0");
                    border: 1px solid map-get($Neutrals, "N30");
                    border-radius: 100%;
                    position: absolute;
                    top: 16px;
                    right: 20px;
                    cursor: pointer;
                    z-index: 10;

                    &:hover {
                        background-color: map-get($Neutrals, "N20");
                    }

                    svg {
                        font-size: 16px;
                    }
                }

                img {
                    position: absolute;
                    border-radius: 4px;
                    border: 1px solid map-get($Neutrals, "N30");
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    top: 8px;
                    left: 8px;
                    z-index: 5;
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        :global {
            .attachment-upload {
                .dropzone,
                .choose-file-btn {
                    padding: 8px 16px;
                    svg {
                        font-size: 16px;
                        margin-right: 8px;
                    }
                }
            }
            .attachment-items .item{
                .remove-btn {
                    width: 24px;
                    height: 24px;
                    top: 14px;
                    right: 18px;
                    svg {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        :global {
            .attachment-header {
                margin-bottom: 8px;
            }
            .attachment-upload {
                display: none;
            }
            .mobile-choose {
                display: block;
                label {
                    color: map-get($Primary, "P300");
                    margin-bottom: 0;
                }
            }
            .mobile-upload {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border: 1px solid map-get($Neutrals, "N50");
                padding: 16px;
                border-radius: 8px;
                span {
                    color: map-get($Neutrals, "N80");
                }
                .btn {
                    width: 24px;
                    height: 24px;
                    padding: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0;
                    svg {
                        font-size: 20px;
                    }
                }
            }
            .attachment-items {
                margin: 0 16px;
                .item {
                    width: 20%;
                    .remove-btn {
                        width: 16px;
                        height: 16px;
                        top: 12px;
                        right: 16px;
                        svg {
                            font-size: 10px;
                        }
                    }
                    img {
                        width: calc(100% - 18px);
                        height: calc(100% - 18px);
                    }
                }
            }
        }
    }
}
