@import '../../../../sass/variables';

.faq {
    padding: 88px 0;

    :global {
        .container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h3 {
            color: map-get($Neutrals, 'N900');
            margin-bottom: 52px;
            text-align: center;
        }

        .questions {
            width: 60%;

            .item-wrapper {
                border-bottom: 1px solid map-get($Primary, 'P300');
                padding: 16px 0;

                &:last-child {
                    border-bottom: none;
                }

                .toggler {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    cursor: pointer;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 28px;
                        height: 28px;
                        background-color: map-get($Primary, 'P50');
                        color: map-get($Primary, 'P300');
                        border-radius: 4px;
                        flex-shrink: 0;
                        margin-left: 24px;
                    }

                    &:hover .icon {
                        color: map-get($Primary, 'P50');
                        background-color: map-get($Primary, 'P300');
                    }
                }

                .answer-text {
                    color: map-get($Neutrals, 'N900');
                    width: 90%;
                    height: 0;
                    visibility: hidden;
                    margin: 0;
                }

                &.active .answer-text {
                    height: auto;
                    visibility: visible;
                    margin: 12px 0;
                }
            }
        }
    }

    @media (min-width:576px) and (max-width:768px) {
        :global {
            .questions {
                width: 80%;
            }
        }
    }
    @media (max-width:576px) {
        margin: 48px 0;

        :global {
            .container {
                padding: 0 24px;
            }

            h3 {
                width: 85%;
                margin-bottom: 36px;
            }

            .questions {
                width: 100%;
                .item-wrapper {
                    padding: 16px 0;
                }
            }
        }
    }
}