@import "../../../../../../sass/variables";

.requirements {
    :global {
        .requirment-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;
            @media (max-width: 768px){
                margin-bottom: 8px;
            }
            .optional-typo{
                span{
                    color: map-get($Neutrals, 'N300' );
                }
            }
        }
        .input-wrapper {
            padding: 6px 16px;
            .add-btn {
                width: 24px;
                height: 24px;
                padding: 3px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    stroke-width: 3;
                }
            }
            &:not(.focused){
                padding: 16px;
                >div {
                    margin-top: 0;
                }
                .input-header {
                    display: none;
                }
                .icon-after {
                    margin-top: 0 !important;
                }
            }
            input {
                &::placeholder {
                    font-size: map-get($typo-sub-heading3-large, "size");
                    line-height: map-get($typo-sub-heading3-large, "height");
                    font-weight: map-get($typo-sub-heading3-large, "weight");
                    visibility: visible !important;
                    @media (max-width: 576px) {
                        font-size: map-get($typo-sub-heading3-small, "size");
                        line-height: map-get($typo-sub-heading3-small, "height");
                        font-weight: map-get($typo-sub-heading3-small, "weight");
                    }
                }
            }
        }
        .requirement-list {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 16px;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                .remove-btn {
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                    flex-shrink: 0;
                    svg {
                        stroke-width: 3;
                    }
                }
                span {
                    line-break: auto;
                }
            }
        }
    }
}
