@import '../../../../sass/variables';
.discount{
        width: 800px;
        max-width: 90%;
        flex-grow: 0;

    @media(max-width:576px) {
        height: unset;
        margin: 0 auto;
        border-radius:10px;
    }
    :global{
        .modal-content{
            background: transparent;
            border:none;
            .modal-body{
                padding: 0;
            }
            .modal-header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999;
                .close {
                    color: #FFF;
                    top: 8px;
                    right: 8px;
                }
            }

        }
        img{
            width: 100%;
            border-radius: 10px;
            // outline: solid;
        }
    }
}