@import "../../../../sass/variables";

.hero {
  height: 700px;
  //margin-top: -110px;
  background-color: map-get($Neutrals, "N0");
  :global .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -28px;
    position: relative;
    height: 100%;
    .hero-content {
      position: absolute;
      left: 0;
      top: 112px;
      h2 {
        white-space: pre;
        //transition: all linear 10s;
        animation-name: fedeIn;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        .primary-text {
          color: map-get($Primary, "P300");
        }
        .warning-text {
          color: map-get($Warning, "Y500");
        }
      }
      p {
        display: flex;
        color: map-get($Neutrals, "N1000");
        margin: 24px 0;
        width: 58%;
      }
      .role-select {
        display: flex;
        button {
          transition: all linear 0.5s;
          border-radius: 8px;
          padding: 10px 20px;
        }
        .or-part {
          position: relative;
          margin: 0 24px;
          &::before {
            content: "";
            width: 1px;
            height: 50px;
            display: flex;
            align-items: center;
            background-color: map-get($Neutrals, "N40");
          }
          span {
            background-color: map-get($Neutrals, "N0");
            padding: 2px;
            border-radius: 100%;
            z-index: 100;
            color: map-get($Neutrals, "N40");
            position: absolute;
            line-height: 12px;
            top: calc((100% - 18px) / 2);
            left: -8px;
          }
        }
      }
      .hero-image-mobile {
        display: none;
      }
    }
    .hero-image {
      width: 72%;
      height: 700px;
      transition: all linear 1s;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      flex-shrink: 0;
      position: absolute;
      top: 0;
      right: -100px;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    height: 550px;
    :global .container {
      margin-top: -80px;
      .hero-content {
        top: 80px;
      }
      .hero-image {
        background-size: auto 100%;
        width: 65%;
        height: 550px;
      }
    }
  }

  @media (max-width: 992px) {
    height: auto;
    :global .container {
      flex-direction: column;
      padding: 0 24px 32px;
      .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
        margin-top: 32px;
        h2 {
          span {
            white-space: normal;
          }
        }
        p {
          width: 100%;
          margin-top: -24px;
          font-size: 16px;
          line-height: 24px;
        }
        .hero-image-mobile {
          display: flex;
          width: 100%;
          height: 364px;
          background-repeat: no-repeat;
          background-position: center;
          margin-top: -24px;
        }
        .role-select button {
          @media (max-width: 346px) {
            padding: 10px 12px;
          }
        }
      }
      .hero-image {
        display: none;
      }
    }
  }
}
