.term-page {

  .paper {
    h3 {
      font-size: 28px;
      padding-bottom: 10px;
    }


    h4 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    ul {
      list-style: number;

      li {
        font-size: 16px;
        padding: 10px;
      }
    }

    @media (max-width: 600px) {
      ul {
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
}