@import '../../sass/variables';

.profile-page {
    main {
        background-color: map-get($Neutrals, 'N20');
        padding: 24px 0;

        .no-content {
            min-height: 500px;
        }
    }
}

.plain-card {
    width: 100%;
    border-radius: 8px;
    background: #feffff;
    min-height: 120px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    .edit {
        cursor: pointer;
        color: map-get($Primary, 'P300');


    }

    @media(min-width:992px) {
        .edit {
            visibility: hidden;
            opacity: 0;
            transition: all linear 0.2s;
        }

        &:hover {
            .edit {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.report-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 14px;
    margin-left: auto;
    background: #5468fd00;
    color: #FF4343;
    cursor: pointer;
    transition: all 0.2s;

    &:hover,
    &:focus {
        background: #5468fd17;
        color: #FF4343;
        transition: all 0.2s;
    }
}


//Profile Main
.profile-container {
    width: 100%;
    border-radius: 8px;
    background: #feffff;
    height: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;

    .profile-image {
        margin: auto;

        &.available {
            cursor: pointer;
        }
    }

    .profile-title {
        font-style: normal;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
        font-size: 24px;
        margin-bottom: 15px;
        line-height: 22px;
        color: map-get($Neutrals, "N900");
    }

    .profile-place {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: map-get($Neutrals, "N900");
    }

    .profile-last-seen {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #4D576A;
        opacity: 0.75;
        margin-bottom: 8px;
        text-align: center;
    }

    .profile-badges-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .profile-badges-icon-small {
            font-size: 13px;
            align-items: center;
            justify-content: center;
            color: map-get($Neutrals, "N900");
        }

        .profile-badges-icon {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $primary;
            font-size: 15px;
            color: map-get($Neutrals, "N0");
            margin: 5px;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover,
            &:focus,
            &.active {
                background: rgba(76, 94, 254, 0.08);
                transition: all 0.2s;
                color: map-get($Neutrals, "N900");
            }

            &.disabled {
                background: #7feb8d30 !important;
                transition: all 0.2s;
            }
        }

        .profile-badges-icon-disabled {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #C9C9C9;
            font-size: 15px;
            color: map-get($Neutrals, "N0");
            margin: 5px;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover,
            &:focus,
            &.active {
                background: rgba(76, 94, 254, 0.08);
                transition: all 0.2s;
                color: map-get($Neutrals, "N900");
            }

            &.disabled {
                background: #7feb8d30 !important;
                transition: all 0.2s;
            }
        }
    }

    .profile-badges-hint {
        background-color: map-get($Neutrals, 'N500');
        color: map-get($Neutrals, 'N0');
        border-radius: 8px;
        padding: 16px;
        position: absolute;
        display: none;
        z-index: 9;

        @media(max-width:860px) {
            left: 24px !important;
            right: 24px !important;
        }
    }
}

//About
.profile-about-container {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .profile-about-header {
        display: flex;
        position: relative;

        svg {
            width: 20px;
            height: 20px;
            font-size: 20px;
            cursor: pointer;
            color: #4D576A;

            &:hover,
            &:focus {
                color: $primary;
                transition: all 0.2s;
            }
        }
    }

    .profile-about-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }

    .profile-about-subject {
        font-style: italic;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        margin-top: 15px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.9;
    }

    .profile-about-description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        margin-top: 17px;
        letter-spacing: 0.01em;
        color: map-get($Neutrals, "N900");
    }
}

//Skill
.profile-skill-container {
    padding: 20px;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
    }

    .profile-skill-header {
        display: flex;
        position: relative;

        svg {
            width: 20px;
            height: 20px;
            font-size: 20px;
            cursor: pointer;
            color: #4D576A;

            &:hover,
            &:focus {
                color: $primary;
                transition: all 0.2s;
            }
        }
    }

    .profile-skill-title {
        font-style: normal;
        color: #5568FE;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }

    .profile-skill-subject {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
        margin-top: 22px;
        color: rgba(26, 24, 72, 0.90106);
    }

    .profile-skill-item {
        background: #F4F4F5;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #1A1848;
        flex: none;
        order: 0;
        align-self: center;
        white-space: nowrap;
        flex-grow: 0;
        margin: 4px 4px 4px 4px;
        padding: 5px;
        border-radius: 4px;
    }

    .profile-skill-item-container {
        padding-right: 30px;
        padding-left: 11px;
    }

    .profile-skill-modal-item-container {
        padding-right: 30px;
        padding-left: 11px;
        display: flex;
        flex-direction: column;

        .profile-skill-modal-item {
            width: 100%;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #2B3240;
        }
    }

    .profile-skills-btn {
        width: 120px;
        height: 36px;
        margin: 20px auto 10px auto;
        background: #2ED174;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        font-style: normal;
        font-weight: 600;
        justify-content: center;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }
}


//Level
.profile-level-container {
    display: flex;
    padding: 20px;
    flex-direction: column;

    .profile-level-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #1A1848;

        svg {
            font-size: 14px;
            margin-left: 5px;
        }

        .hint-button {
            cursor: pointer;
        }
    }

    .profile-level-item-container {
        display: flex;
        justify-items: center;
        align-items: center;
        margin-top: 10px;
        justify-content: center;

        .profile-level-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0.2;
            padding: 0;
            margin: 0;

            &.active {
                opacity: 1;
            }

            .level-item-image {
                width: 80%;
                height: 60px;
                background: #F5F5F5;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                margin-bottom: 8px;

                img {
                    padding: 10px;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: contain;
                }
            }

            span {
                color: map-get($Neutrals, 'N500');
            }
        }
    }

    .profile-level-item-image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        object-fit: contain;
    }

}

.profile-level-hint {
    background-color: map-get($Neutrals, 'N500');
    border-radius: 8px;
    padding: 16px;
    position: absolute;
    display: none;
    z-index: 9;
    min-width: 350px;

    @media(max-width:860px) {
        left: 24px !important;
        right: 24px !important;
    }

    @media(max-width:576px) {
        min-width: auto;
        left: 0 !important;
        right: 0 !important;
    }

    .level-hint-item {
        display: flex;
        align-items: center;
        background-color: map-get($Neutrals, 'N20');
        border-radius: 4px;
        margin-bottom: 20px;
        opacity: 0.5;
        padding-right: 16px;

        &.active {
            opacity: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .level-hint-icon {
            width: 56px;
            height: 56px;
            margin: 4px;
            background: #FFFFFF;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                width: auto;
            }
        }

        .level-hint-details {
            margin-left: 16px;

            .level-hint-title {
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                h3 {
                    color: map-get($Neutrals, 'N900');
                    margin-bottom: 0;
                    margin-right: 8px;
                }

                span {
                    color: map-get($Primary, 'P300');
                }
            }
        }

        .level-hint-description {
            color: map-get($Neutrals, 'N900');
        }

        .progress {
            margin-left: auto;
            margin-bottom: 0 !important;
            flex-shrink: 0;

            @media(max-width:576px) {
                display: none;
            }

            .progress-bar,
            &:after {
                border-width: 5px;
            }

            .progress-value {
                color: map-get($Primary, 'P300');
            }
        }
    }
}

//Portfolio
.profile-portfo-container {
    display: flex;
    padding: 20px;
    flex-direction: column;

    .portfolio-item {
        position: relative;
        display: inline-flex;
        width: 100%;
        height: 100%;
        float: left;
        border-radius: 6px;
        overflow: hidden;

        .portfolio-preview {
            position: relative;
            width: 100%;
            height: 100%;

            svg {
                font-size: 40px;
                color: $primary;
                margin-bottom: 14px;
            }

            .file-name {
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 21px;
                letter-spacing: 0.01em;
                color: #4C5EFE;
                width: 96%;
                padding: 0 10px;
                text-align: center;
                margin: 0 auto;
                white-space: normal;
            }
        }

        &.image-item {
            color: $primary;

            .portfolio-preview {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &.video-item,
        &.file-item {
            .remove-trigger {
                color: $primary;
                background-color: #00000054;

                &:hover {
                    background-color: #00000057;
                }
            }

            .portfolio-preview {
                display: flex;
                color: $primary;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #F5F5F5;
            }
        }
    }

    .profile-items-container {
        padding: 20px;

        .profile-portfo-item-image {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            object-fit: contain;
        }

        .profile-portfo-item {
            width: 160px;
            cursor: pointer;

            margin: 10px 10px;
            height: 160px;
            border-radius: 10px;
        }
    }

    .profile-portfo-title {
        font-style: normal;
        margin-bottom: 10px;
        color: #5568FE;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;

        .svg {
            font-size: 14px;
            margin-left: 5px;
        }

    }

    .profile-portfo-header {
        display: flex;
        position: relative;

        .info {
            svg {
                margin: 0 4px;
            }
        }
    }
}

//Reviews
.profile-reviews-container {
    display: flex;
    padding: 20px;
    flex-direction: column;

    .profile-reviews-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #1A1848;
    }

    .profile-reviews-view {
        text-decoration: none !important;
    }

    .review-container {
        padding: 20px;
        margin-top: 20px;
        background: #F5F5F5;
        display: flex;
        flex-direction: column;
        border-radius: 8px;

        .reviews-title {
            color: $primary;
        }

        .star-rating {
            .star {
                margin: 0 2px;

                svg {
                    font-size: 20px;
                }
            }
        }

        .rate-count {
            color: #4D576A;
        }

        .success-percent {
            color: $success;
        }

        .reviews-no-content {
            min-height: 60px;
            justify-content: center;
            align-items: center;
            text-align: center;
            align-content: center;
        }
    }
}