@import '../../../../sass/colors';

.support-page main {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  min-height: 500px;

  &:before {
    position: absolute;
    width: 1727px;
    height: 1127px;
    left: -124px;
    top: -717px;
    background: #F7F7F7;
    border-radius: 49px;
    transform: rotate(12deg);
    content: "";
    z-index: 1;
  }

  &:after {
    position: absolute;
    width: 300px;
    height: 300px;
    right: -210px;
    top: 120px;
    background: #5568FE;
    border-radius: 49px;
    transform: rotate(30deg);
    content: "";

    z-index: 2;
  }


  :global .support {
    margin-top: 80px;

    .box {
      padding: 10px;
      margin: 12px auto;
      box-shadow: 0px 15px 45px rgba(43, 50, 64, 0.1);
      z-index: 3;
      position: relative;
      background: #ffffff;
      border-radius: 8px;

      &.active {
        .category-header {
          margin-bottom: 16px;

          .toggle-icon {
            color: #4C5EFE;
            transform: rotate(90deg);
          }
        }
      }

      .category-header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        h3 {
          color: map-get($Neutrals, "N900");
          padding: 3px;
          margin: 0;
        }

        .toggle-icon {
          padding: 0px 20px;
          font-size: 18px;
        }


      }

      .collapse {
        border-top: 1px solid #F2F2F2;

        &.show {
          display: flex;
          flex-direction: column;
        }
      }

      .topic {
        color: map-get($Neutrals, "N500");
        display: block;
        padding: 10px;
        cursor: pointer;
        margin-top: 8px;
        width: fit-content;
      }

      .active {
        color: map-get($Primary, "P300");
        background: map-get($Primary, "P50");
        border-radius: 20px
      }
    }

    .question {
      color: map-get($Neutrals, "N900");
      padding: 16px;
      white-space: break-spaces;
      margin: 0;
    }

    .answer {
      color: map-get($Neutrals, "N500");
      padding: 16px;
      white-space: break-spaces;
      margin: 0;

      ul {
        &.none {
          list-style: none;
        }

        &.numbered {
          list-style: decimal;
        }

        li {
          margin-bottom: 8px;
        }
      }
    }

    @media (max-width: 600px) {}
  }
}