.button-select {
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    padding: 4px;

    &.block {
        width: 100%;
    }

    .col {
        margin: 0;
        padding: 0;
    }
}