@import 'https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css';

.jb-marker>svg {
    width: 36px;
    height: 36px;
}

.viewonmap-modal {
    .modal-header {
        z-index: 99;
    }

    .modal-content {
        height: 500px;
        position: relative;
        overflow: hidden !important;

        @media (max-width:576px) {
            height: 100%;
        }
    }

    .modal-body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0 !important;
        top: 0;
        left: 0;


        .map-zoom-control {
            top: 65px !important;
            right: 18px !important;
        }
        .to-navigation {
            top: 128px;
            right: 20px;
            width: 32px;
            height: 32px;
            z-index: 99;
        }
        canvas {
            outline: none !important;
        }
    }
}

.mapboxgl-popup {
    top: -40px !important;
    .mapboxgl-popup-content {
        padding: 0 !important;

        .popup-close {
            position: absolute;
            top: -12px;
            right: -12px;
            background: rgba(0, 0, 0, 0.1);
            padding: 0 6px;
            border-radius: 50%;
            color: #000 !important;
            opacity: 1;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }
        }

        .map-popup-task {
            min-width: 280px;

            .task-item {
                margin-bottom: 0;
                border-bottom: none;
                min-width: 320px;
            }
        }
    }

    @media (max-width:576px) {
        transform: none !important;
        bottom: 10px;
        left: 5% !important;
        width: 90%;
        top: auto !important;
        z-index: 2000 !important;
        .mapboxgl-popup-tip {
            display: none;
        }

        .mapboxgl-popup-content {
            width: 100%;
        }
    }
}

.to-navigation {
    position: absolute;
    top: 72px;
    right: 8px;
    width: 36px;
    height: 36px;
    background-color: map-get($Primary, 'P300');
    box-shadow: 0px 2px 5px rgba(43, 50, 64, 0.2);
    color: map-get($Neutrals, 'N0');
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 50px;
    transition: all linear 0.3s;

    &:hover {
        background-color: map-get($Primary, 'P500');
        color: map-get($Neutrals, 'N0');
    }
}