@import "../../../../sass/variables";

.hero {
    background-color: map-get($Neutrals, "N20");
    position: relative;
    height: calc(50vh - 78px + 38px);

    :global {
        .background {
            position: absolute;
            width: 100%;
            height: 50vh;
            top: -78px;
            z-index: 0;
            div {
                display: flex !important;
                justify-content: center;
                align-items: center;
                img {
                    min-width: unset !important;
                    max-width: unset !important;
                    min-height: unset !important;
                    max-height: unset !important;
                    width: 100% !important;
                    height: auto !important;
                    position: unset !important;
                    @media (max-width: 1440px) {
                        width: auto !important;
                        height: 100% !important;
                    }
                }
            }
        }

        .container {
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            height: 100%;

            h2 {
                color: map-get($Neutrals, "N10");
                margin-bottom: 28px;
                z-index: inherit;
                text-align: center;
                max-width: 604px;
            }

            .hero-searchbox {
                display: flex;
                width: 895px;
                height: 80px;
                align-items: center;
                justify-content: center;
                background-color: map-get($Neutrals, "N10");
                border-radius: 10px;
                padding: 8px;
                z-index: inherit;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

                [class*="col"] {
                    padding: 0;
                    height: 100%;
                }
                .category-box {
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;
                    .icon {
                        font-size: 18px;
                        color: map-get($Primary, "P100");
                    }

                    span {
                        margin-left: 16px;
                        color: map-get($Neutrals, "N500");
                    }
                }
                .location-box {
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;
                    border-left: 1px solid map-get($Primary, "P100");
                    .icon {
                        font-size: 18px;
                        color: map-get($Primary, "P100");
                    }

                    span {
                        margin-left: 16px;
                        color: map-get($Neutrals, "N500");
                    }
                }

                .input-wrapper {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    border-radius: 0;

                    > div {
                        // should handle by compoenent
                        height: 100%;

                        [class*="icon"] {
                            align-self: center;

                            svg {
                                font-size: 18px;
                                color: map-get($Primary, "P100");
                            }
                        }

                        input {
                            color: map-get($Neutrals, "N500");
                        }

                        input,
                        .dropdown-container .label,
                        ::placeholder {
                            font-size: map-get($typo-body2-large, "size");
                            font-weight: map-get($typo-body2-large, "weight");
                            line-height: map-get($typo-body2-large, "line-height");
                        }
                    }

                    .dropdown-container {
                        padding: 0;
                    }

                    .dropdown-body {
                        box-shadow: none;
                        border: none;
                        width: 102%;
                        left: -8px;
                        background-color: map-get($Neutrals, "N10");
                        border-top-left-radius: unset;

                        &::before {
                            content: "";
                            width: 90%;
                            height: 1px;
                            background-color: map-get($Primary, "P100");
                            margin-left: 5%;
                            margin-top: -8px;
                            position: absolute;
                        }

                        .dropdown-item {
                            .label {
                                font-size: map-get($typo-body2-large, "size");
                                line-height: map-get($typo-body2-large, "height");
                                font-weight: map-get($typo-body2-large, "weight");
                            }

                            &:first-child {
                                margin-top: 8px;
                            }

                            &:hover,
                            &.active {
                                background-color: transparent;

                                span {
                                    color: map-get($Primary, "P300");
                                    font-weight: map-get($typo-sub-heading1-large, "weight");
                                }
                            }
                        }
                    }
                }

                .btn-primary {
                    height: 100%;
                    border-radius: 8px;
                }

                &.category {
                    width: 648px;

                    h2 {
                        max-width: 536px;
                    }
                }
            }
        }
    }

    @media (min-width: 767px) and(max-width:992px) {
        :global {
            .container {
                .hero-searchbox {
                    max-width: 90%;
                }
            }
        }
    }

    @media (max-width: 767px) {
        height: calc(90vh - 60px);

        :global {
            .background {
                height: 90vh;
            }

            .container {
                justify-content: center;

                h2 {
                    max-width: 90%;
                }

                .hero-searchbox {
                    max-width: 90%;
                    flex-direction: column;
                    height: unset;
                    background-color: transparent;
                    box-shadow: none;

                    [class*="col"] {
                        height: 56px;
                        margin-bottom: 8px;
                    }

                    .input-wrapper,
                    .location-box,
                    .category-box {
                        background-color: map-get($Neutrals, "N10");
                        border-radius: 8px;
                        border: none;
                    }
                }
            }
        }
    }
}
