@import "../../../../sass/variables";

.related-link {
    :global {
        .container {
            display: flex;
            align-content: center;
            padding: 0 48px;
        }

        .slick-slider {
            width: 100%;

            .slick-track {
                display: flex;
            }
        }

        .column {
            padding: 0;

            .header {
                width: 100%;
                border-bottom: 1px solid #E2E2E2;
                padding: 80px 0 24px;
            }

            ul {
                padding: 16px 0;

                li {
                    list-style: none;
                    padding: 8px 0;

                    a {
                        color: map-get($Neutrals, 'N900');
                    }

                    .btn-link {
                        padding: 0;
                    }

                    &:not(.more):hover {
                        font-size: map-get($typo-sub-heading1-large, "size");
                        line-height: map-get($typo-sub-heading1-large, "line-height");
                        font-weight: map-get($typo-sub-heading1-large, "weight");

                        &:before {
                            content: "\2022";
                            color: map-get($Primary, 'P300');
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        :global {
            .slick-slider {
                .slick-track {
                    .slick-slide {
                        width: 282px !important;

                        .column {
                            position: relative;

                            .header,
                            ul li {
                                text-align: center;

                                &:before {
                                    content: none;
                                }
                            }
                        }

                        &:not(.slick-active) {
                            opacity: 0.3;

                            .column {
                                ul li {
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        :global {

            .container {
                padding: 0;
            }

            .slick-slider {
                .slick-track {
                    .slick-slide {
                        width: 220px !important;
                    }
                }
            }

            .column {
                padding: 0;

                .header {
                    padding: 44px 0 12px;
                }

                ul {
                    padding: 16px 0 36px;
                }
            }
        }
    }
}