@import '../../sass/variables';

.contact {
  form {
    .box {
      padding: 10px;

      label {
        color: map-get($Neutrals, 'N900');
        margin: 0 4px;
      }

      .input-wrapper {
        margin: 8px 0;

        textarea {
          min-height: 200px;
        }
      }

    }

    .actions {
      display: flex;
    }
  }

  .animation {
    align-items: center;
    display: flex;

    >div {
      height: 500px !important;
      text-align: center;

      svg {
        width: auto !important;
      }
    }
  }

}