@import '../../sass/typography';

.typo-heading0 {
    font-size: map-get($typo-heading0-large, "size");
    line-height: map-get($typo-heading0-large, "height");
    font-weight: map-get($typo-heading0-large, "weight");

    @media(max-width: 768px) {
        font-size: map-get($typo-heading0-small, "size");
        line-height: map-get($typo-heading0-small, "height");
        font-weight: map-get($typo-heading0-small, "weight");
    }
}

.typo-heading1 {
    font-size: map-get($typo-heading1-large, "size");
    line-height: map-get($typo-heading1-large, "height");
    font-weight: map-get($typo-heading1-large, "weight");

    @media(max-width: 768px) {
        font-size: map-get($typo-heading1-small, "size");
        line-height: map-get($typo-heading1-small, "height");
        font-weight: map-get($typo-heading1-small, "weight");
    }
}

.typo-heading2 {
    font-size: map-get($typo-heading2-large, "size");
    line-height: map-get($typo-heading2-large, "height");
    font-weight: map-get($typo-heading2-large, "weight");
    @media(max-width: 768px) {
        font-size: map-get($typo-heading2-small, "size");
        line-height: map-get($typo-heading2-small, "height");
        font-weight: map-get($typo-heading2-small, "weight");
    }
}

.typo-heading3 {
    font-size: map-get($typo-heading3-large, "size");
    line-height: map-get($typo-heading3-large, "height");
    font-weight: map-get($typo-heading3-large, "weight");

    @media(max-width: 768px) {
        font-size: map-get($typo-heading3-small, "size");
        line-height: map-get($typo-heading3-small, "height");
        font-weight: map-get($typo-heading3-small, "weight");
    }
}

.typo-heading4 {
    font-size: map-get($typo-heading4-large, "size");
    line-height: map-get($typo-heading4-large, "height");
    font-weight: map-get($typo-heading4-large, "weight");

    @media(max-width: 768px) {
        font-size: map-get($typo-heading4-small, "size");
        line-height: map-get($typo-heading4-small, "height");
        font-weight: map-get($typo-heading4-small, "weight");
    }
}

.typo-sub-heading1 {
    font-size: map-get($typo-sub-heading1-large, "size");
    line-height: map-get($typo-sub-heading1-large, "height");
    font-weight: map-get($typo-sub-heading1-large, "weight");
    @media(max-width: 768px) {
        font-size: map-get($typo-sub-heading1-small, "size");
        line-height: map-get($typo-sub-heading1-small, "height");
        font-weight: map-get($typo-sub-heading1-small, "weight");
    }
}

.typo-sub-heading2 {
    font-size: map-get($typo-sub-heading2-large, "size");
    line-height: map-get($typo-sub-heading2-large, "height");
    font-weight: map-get($typo-sub-heading2-large, "weight");
    @media(max-width: 768px) {
        font-size: map-get($typo-sub-heading2-small, "size");
        line-height: map-get($typo-sub-heading2-small, "height");
        font-weight: map-get($typo-sub-heading2-small, "weight");
    }
}

.typo-sub-heading3 {
    font-size: map-get($typo-sub-heading2-large, "size");
    line-height: map-get($typo-sub-heading2-large, "height");
    font-weight: map-get($typo-sub-heading2-large, "weight");
    @media(max-width: 768px) {
        font-size: map-get($typo-sub-heading2-small, "size");
        line-height: map-get($typo-sub-heading2-small, "height");
        font-weight: map-get($typo-sub-heading2-small, "weight");
    }
}

.typo-body1 {
    font-size: map-get($typo-body1-large, "size");
    line-height: map-get($typo-body1-large, "height");
    font-weight: map-get($typo-body1-large, "weight");

    @media(max-width: 768px) {
        font-size: map-get($typo-body1-small, "size");
        line-height: map-get($typo-body1-small, "height");
        font-weight: map-get($typo-body1-small, "weight");
    }
}

.typo-body2 {
    font-size: map-get($typo-body2-large, "size");
    line-height: map-get($typo-body2-large, "height");
    font-weight: map-get($typo-body2-large, "weight");

    @media(max-width: 768px) {
        font-size: map-get($typo-body2-small, "size");
        line-height: map-get($typo-body2-small, "height");
        font-weight: map-get($typo-body2-small, "weight");
    }
}

.typo-body3 {
    font-size: map-get($typo-body3-large, "size");
    line-height: map-get($typo-body3-large, "height");
    font-weight: map-get($typo-body3-large, "weight");

    @media(max-width: 768px) {
        font-size: map-get($typo-body3-small, "size");
        line-height: map-get($typo-body3-small, "height");
        font-weight: map-get($typo-body3-small, "weight");
    }
}

.typo-caption1 {
    font-size: map-get($typo-caption1-large, "size");
    line-height: map-get($typo-caption1-large, "height");
    font-weight: map-get($typo-caption1-large, "weight");
}

.typo-caption2 {
    font-size: map-get($typo-caption2-large, "size");
    line-height: map-get($typo-caption2-large, "height");
    font-weight: map-get($typo-caption2-large, "weight");
}

.typo-weight-thin {
    font-weight: map-get($typo-weights, "thin");
}

.typo-weight-normal {
    font-weight: map-get($typo-weights, "normal");
}

.typo-weight-bold {
    font-weight: map-get($typo-weights, "bold");
}

.typo-weight-black {
    font-weight: map-get($typo-weights, "black");
}