@import "../../../../sass/variables";
.vision{
    margin-top: 40px;
    :global .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 32px;
    }
}