@import "../../../../sass/variables";

.discount-banner {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    map-get($Primary, "P500") 0%,
    #4655c4 100%
  );
  box-shadow: 0 0 2px map-get($Neutrals, "N30");
  text-align: center;
  z-index: 10;

  :global {
    .btn-close {
      outline: none;
      box-shadow: none;
      position: absolute;
      right: 6px;
      top: 2px;
      font-size: 20px;
      color: map-get($Neutrals, "N50");
      width: 32px;
      height: 32px;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      .color {
        color: map-get($Neutrals, "N900");
      }
      .btn {
        padding: 8px 24px;
        display: flex;
        border-radius: 8px;
        @media (max-width: 992px) {
          padding: 8px 12px;
        }
        svg {
          font-size: 20px;
        }
      }
      .discount-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        color: map-get($Neutrals, "N0");
        align-items: center;
        &.mobile {
          display: none;
        }
        .discount-content-center {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          color: map-get($Neutrals, "N0");
          .discount-content-center-top {
            .typo-heading2 {
              font-size: 32px;
              margin-right: 3px;
            }
            .Code {
              font-weight: 800;
              font-size: 18px;
              line-height: 30px;
            }
            .typo-body2 {
              &:not(.Code) {
                margin-right: 12px;
              }
            }
          }
          .discount-content-bottom {
            display: flex;
            flex-direction: row;
            width: 100%;
            .content {
              margin-right: 2px;
              text-align: left;
            }
          }
        }
        .getStarted {
          background-color: map-get($Neutrals, "N0");
          span {
            color: map-get($Primary, "P300");
          }
        }
      }
    }
    .close {
      opacity: 1;
      text-shadow: none;
      &:hover {
        opacity: 1 !important;
      }
    }
  }
  @media (max-width: 768px) {
    :global {
      .container {
        padding: 0 15px;
        .btn {
          width: 99px;
          justify-content: center;
        }
      }
      .btn-close {
        top: 2px;
        right: 2px;
        font-size: 18px;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    :global .container {
      max-width: 740px;
      padding: 4px;
      .content {
        margin-right: 10px;
      }
    }
  }
  @media (max-width: 576px) {
    height: 134px;
    :global {
      .container {
        padding: 25px;
        .discount-content {
          display: none;
          &.mobile {
            display: block;
            padding: 24px 0px;
            max-width: 300px;
            flex-direction: column;
            .blue-days {
              display: none;
            }
          }
          .discount-content-center {
            justify-content: center;
            .discount-content-center-top {
              text-align: left;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .discount-content-center-top-left {
                display: inline !important;
                align-items: center;
              }
               .discount-content-center-top-right{
                  display: inline !important;
              }
              .typo-heading2 {
                font-size: 24px;
                line-height: 36px;
                font-weight: 700;
                margin-right: 3px;
              }
              .Code {
                font-size: 16px;
                line-height: 30px;
              }
            }
            .discount-content-bottom {
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .content {
                width: 172px;
                margin-right: 18px;
              }
            }
          }
          .typo-body2 {
            line-height: 25px;
            &:not(.Code) {
              margin-right: 0px !important;
            }
          }
        }
        .btn {
          width: 99px;
          padding: 8px 4px;
          justify-content: center;
        }
      }
      .btn-close {
        top: 4px;
        right: 6px;
      }
    }
  }

  @media (max-width: 320px) {
    height: 134px;
    :global {
      .container {
        padding: 5px;
         .discount-content-center-top {
              text-align: left;
              .typo-heading2{
                font-size: 22px !important;
              }
               .Code {
                font-size: 15px !important;
              }
              .discount-content-center-top-left {
                display: inline !important;
              }
              .discount-content-center-top-right{
                  display: inline !important;
                    font-size: 15px;
              }
            }
      }
      .btn-close {
        top: 0px;
        right: 0px;
      }
    }
  }
}
.closed {
  display: none;
}
