@import '../../sass/variables';

.star-rating {
    .star {
        margin: 0 8px;
        cursor: pointer;

        .deactive {
            color: #AAADB3;
            display: flex;
        }

        .active {
            display: none;
            color: map-get($Warning, "Y200");
        }

        &.selected {
            .deactive {
                display: none;
            }

            .active {
                display: flex;
            }
        }

        svg {
            font-size: 26px;
        }
    }

    &.disabled {
        .star {
            cursor: default;
        }
    }

    .rating-label {
        font-size: 13px;
        color: #4D576A;
        margin-left: 24px;
    }
}