@import "../../../../sass/variables";

.filter-box {
  display: flex;
  flex-wrap: nowrap;
  max-height: 56px;
  transition: all linear 0.5s;
  width: auto;
  opacity: 1;
  margin-right: 12px;
  overflow: hidden;

  &.toggled {
    opacity: 0;
    width: 0;
  }

  .btn {
    flex-shrink: 0;
    margin: 10px 8px 10px 0;
    box-shadow: unset !important;
  }

  .filters {
    overflow-x: overlay;
    display: flex;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: content-box;
      border: 3px solid transparent;
    }

    .filter {
      background-color: map-get($Neutrals, "N30");
      box-shadow: 0px 4px 8px rgba(77, 87, 106, 0.04);
      padding: 8px 12px;
      border-radius: 4px;
      flex-shrink: 0;
      font-weight: 400;
      font-size: 12px;
      color: map-get($Neutrals, "N300");
      text-decoration: none !important;
      margin: 10px 8px 10px 0;
    }
  }

  .reset {
    background-color: map-get($Error, "R50");
    color: map-get($Error, "R300");
  }
}

.filter-modal {
  .button-select {
    background: #fff;

    .btn {
      box-shadow: none;
    }

    .btn-light {
      background: #fff;
      border: none;
    }

    .btn-primary {
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    }
  }

  .form-group {
    margin: 0 0 36px;

    &.tabs,
    &.location {
      margin: 0 0 16px;
    }

    .row-title {
      margin-bottom: 16px;
      justify-content: space-between;
      .title {
        color: map-get($Neutrals, "N500");
      }

      .values {
        color: map-get($Neutrals, "N900");
      }
    }
  }

  .hide-jobs-toggle {
    display: flex;

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      width: 100%;
      margin: 0;
      cursor: pointer;

      .handle {
        background-color: map-get($Neutrals, "N30");
        width: 48px;
        height: 24px;
        border-radius: 50px;
        position: relative;
        transition: all ease-in 0.2s;

        &:after {
          background-color: map-get($Neutrals, "N100");
          content: "";
          width: 28px;
          height: 28px;
          border-radius: 50px;
          position: absolute;
          top: -2px;
          left: 0;
          transition: all ease-in 0.2s;
        }

        &.active {
          background-color: map-get($Primary, "P75");

          &:after {
            left: 20px;
            background-color: map-get($Primary, "P300");
          }
        }
      }
    }

    input[type="checkbox"] {
      display: none;
    }
  }
}
