@import '../../sass/variables';

.auth-modal {
    .modal-body {
        padding-top: 0 !important;
    }
}

h1.auth-form-title {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
    color: #2B3240;
}

.auth-form {
    .external-login {
        position: relative;
        margin-bottom: 16px;

        &.facebook-login {
            background-color: #4267B2;
        }

        &.google-login,&.apple-login {
            background-color: #FFFFFF;
            border: 1px solid #C9C9C9;
            color: #4D576A;
        }
        

        img {
            position: absolute;
            left: 16px;
        }
    }

    .more-method {
        text-align: center;
        width: 100%;
        display: block;
        margin: 16px 0;
        position: relative;
        z-index: 9;

        &:after {
            content: "";
            border-bottom: solid 1px #E2E2E2;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            z-index: -2;
        }

        &:before {
            position: absolute;
            content: '';
            background-color: #F5F5F5;
            width: 20%;
            top: 50%;
            left: 40%;
            z-index: -1;
            height: 100%;
        }
    }

    .forgot-password {
        display: flex;
        justify-content: flex-end;

        button {
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            margin: 4px;
        }
    }

    .switch-form {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: #4D576A;
        margin-top: 32px;

        button {
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            margin: 4px;
        }
    }

    .job_type {
        .title {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 8px;
            display: block;
        }

        .input-wrapper {
            margin-bottom: 8px;
            border: none;
            box-shadow: 0px 1px 3px rgba(43, 50, 64, 0.2);

            &.checked {
                border: 1px solid #5468fd;
                box-shadow: 0px 1px 3px rgba(43, 50, 64, 0.2);
            }

            >div {
                flex-direction: row-reverse;
                justify-content: space-between;

                label {
                    flex-grow: 1;
                    margin: 0;
                }
            }
        }
    }

    .verify-desc {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 16px;
        display: block;
    }

    .otp-timer-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px 4px 32px;
        font-size: 12px;
        font-weight: 400;

        button {
            font-size: 13px;
            font-weight: 500;
            box-shadow: none;

            .spinner {
                border-color: $primary;
            }
        }
    }

    .actions {
        display: flex;

        [class*="col"] {
            margin: 0;
            padding-left: 0;

            &:last-child {
                padding-right: 0;
            }
        }

        .back {
            border-color: #C9C9C9;
        }
    }
}