@import "../../../../sass/variables";
.budget {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;

  .disableButton {
    &:disabled {
      opacity: 0.6 !important;
    }
  }

  :global {
    [class*="col"] {
      display: flex;
      flex-direction: column;
      > span {
        margin-bottom: 12px;
      }
      .set-budget {
        padding: 0;
        width: 175px;
        .icon-before {
          border-right: 1px solid map-get($Neutrals, "N50");
          padding: 14px;
          font-size: 16px;
          color: map-get($Neutrals, "N80");
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      margin: auto -57px 0;
      .btn-primary {
        padding: 12px 44px;
        border-radius: 6px;
      }
      .btn-link {
        display: flex;
        align-items: center;
        box-shadow: none;
        text-decoration: none;
        svg {
          margin-right: 14px;
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 1200px) {
    :global {
      [class*="col"] {
        .set-budget {
          .icon-before {
            padding: 12px;
          }
        }
      }
      .pagination {
        margin: auto 0 0;
        padding-bottom: 24px;
        .btn-primary {
          padding: 8px 32px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    :global {
      [class*="col"] {
        padding: 0;
        > span {
          margin-bottom: 8px;
        }
        .set-budget {
          .icon-before {
            padding: 12px 16px;
          }
        }
      }
    }
  }
}
