@import "../../../../sass/variables";

.filter-box {
  display: flex;
  flex-wrap: nowrap;
  max-height: 56px;
  transition: all linear 0.5s;
  width: auto;
  opacity: 1;
  margin-right: 12px;
  overflow: hidden;
  align-items: center;
  padding: 12px 0;
  &[class*="responsive"] {
    display: none;
  }

  :global {
    .app-wrapper {
      .responsive-header {
        padding: 0;
      }
    }
    .filter-btn {
      background-color: map-get($Neutrals, "N0");
      color: map-get($Primary, "P300");
      @media (max-width: 992px) {
        background-color: #f4f5f7 !important;
      }

      border: none;
      svg {
        font-size: 24px !important;
      }
    }
    .btn {
      flex-shrink: 0;
      box-shadow: none !important;
      display: flex;
      align-items: center;

      svg {
        font-size: 14px;
      }

      svg + span {
        margin-left: 4px;
      }
    }

    .filters {
      overflow-x: overlay;
      display: flex;
      flex-wrap: nowrap;
      @media (max-width: 576px) {
        position: absolute;
        margin-left: 47px;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background-clip: content-box;
        border: 3px solid transparent;
      }

      .filter {
        background-color: map-get($Neutrals, "N30");
        box-shadow: 0px 4px 8px rgba(77, 87, 106, 0.04);
        padding: 0 12px;
        border-radius: 4px;
        flex-shrink: 0;
        font-weight: 500;
        font-size: 12px;
        height: 30px;
        z-index: 100;

        color: map-get($Neutrals, "N300");
        text-decoration: none !important;
        margin-right: 8px;
        display: flex;
        align-items: center;
        @media (max-width: 576px) {
          padding: 14px 16px;
        }
      }
    }

    .reset {
      background-color: map-get($Error, "R50");
      color: map-get($Error, "R300");
    }
  }

  @media (max-width: 992px) {
    // &:not([class*="responsive"]) {
    //   display: none;
    // }
    margin-bottom: 4px;

    &[class*="responsive"] {
      display: flex;
    }
  }
}

.filter-modal {
  :global {
    .button-select {
      background-color: map-get($Neutrals, "N0");

      .btn {
        box-shadow: none;
      }

      .btn-light {
        background-color: map-get($Neutrals, "N0");
        border: none;
      }

      .btn-primary {
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
      }
    }

    .form-group {
      margin: 0 0 12px;
      background-color: map-get($Neutrals, "N0");
      border-radius: 8px;
      padding: 16px;

      .row-title {
        margin-bottom: 16px;
        justify-content: space-between;

        .title {
          color: map-get($Neutrals, "N500");
        }

        .values {
          color: map-get($Neutrals, "N900");
        }
      }
    }

    .location {
      margin: 16px 0 0;
    }
  }
}

.hide {
  @media (max-width: 576px) {
    display: none !important;
  }
}
