@import "../../sass/variables";

.explore-page {
  height: 100% !important;

  #__next {
    height: 100%;
  }

  .download-app-popup {
    display: none;
  }

  @media (max-width: 576px) {
    height: auto;
  }
  header {
    padding: 12px;
    height: 77px;
    box-shadow: 0px 1px 4px rgba(9, 30, 66, 0.2);
  }
  main {
    background-color: map-get($Neutrals, "N20");
    height: calc(100vh - 75px);
    position: relative;
    margin-top: 15px;

    > .container {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      max-width: none;

      @media (max-width: 1366px) {
        padding: 0 20px;
      }

      @media (max-width: 992px) {
        padding: 0;
      }

      @media (min-width: 1366px) {
        padding: 0 calc(calc(100% - 1160px) / 2);
      }
    }

    @media (max-width: 992px) {
      height: calc(100% - 58px);
      margin-top: 0px;
      .tasks-sidebar,
      .task-container {
        border-radius: 0;
        margin: 0;
      }
    }
  }

  footer {
    display: none;
  }
}

.tasks-toolbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 77px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(9, 30, 66, 0.2);
  z-index: 100;
  @media (max-width: 992px) {
    display: none;
  }
  @media (max-width: 1366px) {
    padding: 0 20px;
  }

  @media (max-width: 992px) {
    top: 58px;

    &.toggled {
      display: none;
    }

    &.scrolled {
      top: 0;
    }
  }

  @media (min-width: 1366px) {
    padding: 0 calc(calc(100% - 1160px) / 2);
  }

  /*task search*/
  .task-search-toggle {
    background-color: map-get($Neutrals, "N30") !important;
    color: map-get($Neutrals, "N100");
    border: none;
    outline: none;
    box-shadow: none;
    display: none;
    margin: 10px 0;
    margin-left: auto;
    z-index: 99;

    &.toggled {
      margin-left: 4px;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  .task-search-box {
    width: 320px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: auto;
    padding: 10px 0;

    @media (max-width: 768px) {
      margin-left: auto;
      width: 0;
      opacity: 0;
      transition: all linear 0.5s;

      &.toggled {
        width: 100%;
        opacity: 1;
      }
    }

    .input-wrapper {
      background-color: map-get($Neutrals, "N30");
      width: 100%;
      padding: 0;
      border: none;
      border-radius: 4px;
    }

    .ts-button {
      width: 36px;
      height: 36px;
      border: 0;
      outline: 0;
      font-size: 16px;
      color: map-get($Neutrals, "N100");
      background: transparent;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 6px;
      transition: all 0.2s;

      &:hover,
      &:focus {
        color: #333;
        background-color: #eee;
        transition: all 0.2s;
      }
    }
  }
}

.tasks-wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow: auto;
  margin-top: 65px;

  .tasks-sidebar {
    position: relative;
    width: 420px;
    margin-right: 12px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    ::-webkit-scrollbar {
      width: 4px;
    }

    .show-map {
      display: none;
      position: absolute;
      right: 16px;
      bottom: 12px;
      height: 48px;
      width: 48px;
      border-radius: 50px;
      box-shadow: 0px 2px 5px rgba(43, 50, 64, 0.2);
    }
    .sidebar-header-filter {
      display: none;
    }
  }

  .task-container {
    position: relative;
    flex-grow: 1;
    background: #ffffff;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    .task-view {
      padding: 20px;
    }

    .no-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .icon {
        border-radius: 4px;
        width: 40px;
        height: 40px;
        margin-bottom: 16px;
        background-color: $primary;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          font-size: 30px;
        }
      }

      .label {
        color: map-get($Neutrals, "N900");
        font-size: 14px;
        font-weight: 600;
      }

      .desc {
        color: "#4D576A";
        font-size: 14px;

        span {
          color: $primary;
        }
      }
    }

    .back-to-list {
      position: absolute;
      top: 24px;
      left: 24px;
      display: none;

      span {
        position: fixed;
        z-index: 99;
        background-color: #fff;
        font-size: 20px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 5px rgba(43, 50, 64, 0.2);
        border-radius: 100%;
        cursor: pointer;

        &:hover {
          background-color: #e9e9e9;
        }
      }
    }

    .map-container {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      canvas {
        outline: none;
      }
    }
  }
  .emptyPage {
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 0 40%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #4d576a;

    svg {
      cursor: default;
    }

    @media (max-width: 860px) {
      padding: 0 30%;
      font-size: 14px;
    }

    @media (max-width: 480px) {
      padding: 0 20%;
    }
  }
  @media (max-width: 992px) {
    margin: 16px -16px 0;

    .task-container {
      .back-to-list {
        display: block;
      }

      display: none;
    }

    .tasks-sidebar {
      width: 100%;
      .sidebar-header-filter {
        display: flex;
      }

      .show-map {
        display: block;
      }
    }

    &.toggled {
      margin-top: 0;

      .tasks-sidebar {
        display: none;
      }

      .task-container {
        display: block;
      }
    }

    &.scrolled {
      margin-top: 0;
    }
  }
}
