@import "../../sass/variables";

.calendar {
    border: 1px solid map-get($Neutrals, "N50");
    border-radius: 10px;
    padding: 16px 24px 8px;
    .calendar-header {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        svg {
            font-size: 20px;
            &:not(.disabled) {
                cursor: pointer;
                color: map-get($Primary, "P300");
            }
        }
    }
    .weekdays,
    .days {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
    .weekdays {
        margin-bottom: 12px;
        span {
            text-align: center;
            color: map-get($Neutrals, "N600");
            opacity: 0.5;
        }
    }
    .days {
        .day {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            width: fit-content;
            padding: 8px;
            margin: 1px auto;
            width: 36px;
            height: 36px;
            span {
                z-index: 10;
                position: relative;
            }
        }
        .disabled {
            color: map-get($Neutrals, "N50");
            cursor: unset;
        }
        .today:after {
            content: "";
            position: absolute;
            width: 50%;
            bottom: 10px;
            left: 25%;
            border-bottom: solid 1px map-get($Primary, "P300");
        }
        .selected {
            color: map-get($Neutrals, "N0");
            &:before {
                content: "";
                width: 100%;
                padding-bottom: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                background: map-get($Primary, "P300");
                border-radius: 100%;
            }
            &.today:after {
                border-color: map-get($Neutrals, "N0");
            }
        }
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        padding: 16px 18px 8px;
    }
    @media (max-width: 576px) {
        padding: 8px;
        .days {
            .day {
                padding: 6px;
                span {
                    margin-top: 0;
                }
            }
            .today:after {
                bottom: 6px;
            }
        }
    }
}
