@import "../../../../sass/variables";
.value {
    background-color: map-get($Neutrals, "N10");
    :global .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .header {
            text-align: center;
            margin-top: 64px;
            width: 41%;
            h3,
            p {
                color: map-get($Neutrals, "N900");
                margin-bottom: 12px;
            }
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            margin: 42px 0 68px;
            [class*="col"] {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid map-get($Primary, 'P200' );
                &:last-child{
                    border-right: none;
                }
                .img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 66px;
                    height: 66px;
                }
                .content {
                    text-align: center;
                    padding: 16px;
                    h3 {
                        color: map-get($Neutrals, "N1000");
                    }
                    span {
                        color: map-get($Neutrals, "N900");
                    }
                }
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        :global .container {
            .header {
                width: 43%;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        :global .container {
            .header {
                width: 60%;
            }
            .items {
                [class*="col"] {
                    margin: 12px 0;
                    &:nth-child(2n){
                        border-right: none;
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        :global .container {
            .header {
                width: 94%;
                p {
                    margin-bottom: 24px;
                }
            }
            .items {
                margin: 0 0 56px;
                [class*="col"] {
                    margin-top: 24px;
                    border-right: none;
                    .content {
                        width: 65%;
                    }
                }
            }
        }
    }
}
