@import "../../../../sass/variables";

.yourPocket {
  padding: 80px 0 50px;
  background-color: map-get($Neutrals, "N10") !important;
  :global {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .yourPocket-content {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 45%;
        h3 {
          margin-bottom: 56px;
           color: map-get($Neutrals, "N950") !important;
          span {
            color: map-get($Primary, "P300");
          }
        }
        .app-description{
          padding-right: 40px;
          color: map-get($Neutrals, "N600");
        }
      }
      .stores {
        margin-top: 48px;
        display: flex;
        align-items: center;
        .androidapp {
          margin-left: 20px;
        }
      }
    }
    
  }

  @media (min-width:768px) and (max-width: 992px) {
    padding: 48px 0 78px;
      :global {
        .container {
              flex-direction: column;
          .yourPocket-content {
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
            h3{
              margin-bottom: 24px;
            }
          }
          .yourPocket-image{
            width: 100%;
          }
          .stores {
            justify-content: center;
            margin-top: 34px;
          }
          .yourPocket-image{
            width: 100%;
            height: auto;
          }
        }
      }
  }

  @media (max-width: 768px) {
    padding: 24px 0 66px;
    :global .container {
      flex-direction: column;
      padding: 0 24px;
      .yourPocket-content {
        width: 100%;
        margin-bottom: 44px;
        align-items: center;
        text-align: center;
        h3{
          margin-bottom: 8px;
        }
      }
      .stores {
        margin-top: 40px;
        justify-content: space-around;
        align-items: center;
      }
      .yourPocket-image {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 576px) {
    :global .container {
      flex-direction: column;
      .yourPocket-content {
        align-items: flex-start;
        text-align: left;
      }
      .stores {
        justify-content: space-between;
        .androidapp , .iosapp{
          width: 150px;
          @media (max-width:375px){
            width: 130px;
            margin-left: 6px;
          }
        }
      }
    }
  }
}
