@import "../../sass/variables";
.post-job {
  background-color: map-get($Neutrals, "N0");
  display: flex;
  padding: 28px 0 32px !important;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 110px);

  :global {
    .pagination {
      margin-top: auto;
    }
    .responsive-header,
    .header {
      .btn {
        box-shadow: none !important;
        text-decoration: none !important;
      }
    }
    .responsive-header {
      display: none;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 72px;
      h4 {
        margin-right: 86px;
      }
      .steps {
        display: flex;
        margin-right: auto;
        .step:hover {
          cursor: pointer;
        }
        .step {
          margin-right: 26px;
          @media (min-width: 768px) and (max-width: 991px) {
            margin-right: 7px !important;
          }
          .number {
            background-color: map-get($Neutrals, "N20");
            color: map-get($Neutrals, "N300");
            border-radius: 6px;
            padding: 4px 12px;
            margin-right: 7px;
          }
          .title {
            color: map-get($Neutrals, "N300");
          }
          &.active {
            .number {
              background-color: map-get($Primary, "P300");
              color: map-get($Primary, "P50");
            }
            .title {
              color: map-get($Neutrals, "N900");
            }
          }
          &.done {
            .number {
              background-color: map-get($Primary, "P50");
              color: map-get($Primary, "P300");
            }
            .title {
              color: map-get($Neutrals, "N900");
            }
          }
        }
        &.mobile {
          display: none;
        }
      }
    }
    .post-job-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
      margin-top: 60px;
      padding: 0 105px;
      overflow: hidden;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    :global {
      .header {
        padding: 0 64px;
        h4 {
          margin-right: 56px;
        }
        .steps {
          .step {
            margin-right: 12px;
            .number {
              padding: 3px 8px;
              margin-right: 6px;
            }
          }
        }
      }
      .post-job-wrapper {
        padding: 0 98px;
        margin-top: 40px;
      }
    }
  }
  @media (max-width: 992px) {
    margin: 0 auto !important;
    padding: 16px 0 0 !important;
    overflow: hidden;

    :global {
      .responsive-header {
        display: flex;
        padding: 0 24px;
        justify-content: space-between;
        .btn {
          padding: 0;
        }
      }
      .header {
        padding: 0 24px;
        h4,
        .btn {
          display: none;
        }
        .steps {
          margin: 16px auto 48px;
        }
      }
      .post-job-wrapper {
        margin: 0 0;
        padding: 0 24px;
        overflow-y: auto;
      }
    }
  }

  @media (max-width: 768px) {
    min-height: calc(100vh - 65px);
    :global {
      .header {
        .steps {
          display: none;
          &.mobile {
            display: flex;
            width: 65%;
            margin: 16px auto 32px;
            justify-content: space-between;
          }
          .step {
            margin-right: 16px;
            &:last-child {
              margin-right: 0;
            }
            .number {
              margin-right: 4px;
              padding: 4px 8px;
            }

            @media (min-width: 300px) and (max-width: 576px) {
              margin-right: 0;
            }
          }
        }
      }
      .post-job-wrapper {
        margin: 0 0 64px;
        .row {
          margin-left: 0;
          margin-right: 0;
          [class*="col"] {
            padding: 0;
          }
        }
        .step-body {
          margin-bottom: auto;
        }
        .pagination {
          width: 100%;
          display: flex;
          justify-content: space-between;
          z-index: 10;
          left: 0;
          position: fixed;
          bottom: 0;
          background: map-get($Neutrals, "N0");
          padding: 0 12px 16px;
          margin: 0;
          .btn-primary {
            padding: 6px 28px;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    :global {
      .header .steps.mobile {
        width: 100%;
      }
    }
  }
  @media (max-width: 360px) {
    :global {
      .header {
        .steps .step {
          margin-right: 2px;
          .number {
            padding: 2px 6px;
          }
        }
      }
    }
  }
}
