@import "../../../../sass/variables";

.tasks-list {
  position: relative;
  overflow: auto;
  width: 100%;
  padding: 0 10px 0 0;
  flex-grow: 1;

  .box-spinner {
    background-color: #ffffffdd;
    transition: none;
  }

  .task-item:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}
