@import "../../../../sass/variables";
.family {
    :global .container {
        h2 {
            margin: 88px auto 64px;
            text-align: center;
            span {
                color: map-get($Primary, "P300");
            }
        }
        .leaders {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 188px;
            justify-content: center;
            [class*="col"] {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    border-radius: 8px;
                    position: relative;
                    z-index: 0;
                }
                .description {
                    position: absolute;
                    text-align: center;
                    background-color: map-get($Neutrals, "N0");
                    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
                    padding: 16px 32px;
                    width: 70%;
                    z-index: 10;
                    bottom: -100px;
                    border-radius: 6px;
                    h4,
                    p {
                        color: map-get($Neutrals, "N900");
                    }
                    p {
                        margin-bottom: 0;
                    }
                    span {
                        color: map-get($Neutrals, "N90");
                        margin-bottom: 8px;
                    }
                }
            }
            &.teams {
                max-height: 0;
                overflow: hidden;
                transition: all linear 0.3s;
                opacity: 0;
                margin-bottom: 66px;
                [class*="col"] {
                    margin-bottom: 102px;
                    img {
                        width: 100%;
                        height: 294px;
                    }
                    .description {
                        bottom: -38px;
                        padding: 16px 27px;
                        width: 77%;
                        white-space: break-spaces;
                    }
                }
                &.show {
                    opacity: 1;
                }
            }
        }
        .btn-link{
            display: flex;
            align-items: center;
            margin: 24px auto;
            box-shadow: none !important;
            text-decoration: none !important;
            svg{
                margin-left: 32px;
                font-size: 20px;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        :global .container {
            .leaders{
                [class*=col]{
                    img{
                        width: 100%;
                    }
                    .description{
                        width: 82%;
                        padding: 16px 24px;
                    }
                }
                &.teams{
                    [class*=col]{
                        img {
                            height: 260px;
                        }
                        .description{
                            width: 80%;
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 992px) {
        :global .container {
            h2 {
                margin: 64px auto 36px;
            }
            .leaders {
                margin-bottom: 20px;
                [class*="col"] {
                    margin-bottom: 140px;
                    img {
                        width: 65%;
                        height: auto;
                    }
                    .description {
                        width: 55%;
                        bottom: -80px;
                        padding: 16px 12px;
                    }
                }
                &.teams {
                    [class*="col"] {
                        margin-bottom: 80px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        .description {
                            width: 78%;
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        :global .container {
            h2 {
                margin: 64px auto 36px;
            }
            .leaders {
                margin-bottom: 20px;
                [class*="col"] {
                    margin-bottom: 118px;
                    img {
                        width: 265px;
                        height: auto;
                    }
                    .description {
                        padding: 16px 12px;
                        bottom: -76px;
                        width: 211px;
                    }
                }
                &.teams {
                    margin-bottom: 44px;
                    [class*="col"] {
                        margin-bottom: 70px;
                        img {
                            width: 211px;
                            height: 100%;
                        }
                        .description {
                            bottom: -38px;
                            padding: 12px 18px;
                            width: 181px;
                        }
                    }
                }
            }
        }
    }
}
