@import "../../../../sass/variables";

.sendEmail {
  padding: 69px 0 47px;
  background-color: map-get($Neutrals, "N0") !important;
  :global {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .sendEmail-image {
        height: 490px;
        width: 508px;
        transition: all linear 0.8s;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
      }
      .sendEmail-content {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 50%;
        h3 {
          color: map-get($Neutrals, "N950");
        }
        & > .typo-sub-heading1 {
          color: map-get($Neutrals, "N600");
        }
      }
      .sendEmail-form {
        width: 100%;
        padding: 0 80px;
        margin-top: 40px;
        .sendEmail-formGroup-container {
          display: flex;
          flex-direction: row;
          .form-group {
            width: 50%;
            &:first-child {
              margin-right: 9px;
            }
          }
        }
        .form-group {
          margin-bottom: 12px;
          .location-input {
            .icon-after {
              display: none;
            }
          }
          .input-wrapper {
            height: 48px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            input {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: map-get($Neutrals, "N950") !important;
              // transform: translateY(20%);
            }
            input::placeholder {
              color: map-get($Neutrals, "N90") !important;
            }
          }
        }
        .send-mail-btn {
          margin-top: 24px;
          border-radius: 8px;
        }
        label,
        .dropdown-container .label {
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          line-height: 25px;
          color: map-get($Neutrals, "N90") !important;
          width: 100%;
        }
        button[type="button"] {
          width: 100%;
          background-color: #fff;
          border-radius: 8px !important;
          padding: 6px 45px 6px 16px;
          border: 1px solid #c9c9c9;
          position: relative;
          height: 48px;
          box-shadow: none !important;
          span {
            &:nth-child(1) {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: map-get($Neutrals, "N950") !important;
            }
            &:nth-child(2) {
              svg {
                display: none;
              }
              &:after {
                content: "";
                background-image: url(/images/home/sendEmail/Flesh.png);
                background-size: 12px;
                background-repeat: no-repeat;
                position: absolute;
                width: 14px;
                height: 20px;
                right: 16px;
              }
            }
          }
        }
        input[type="checkbox"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        .dropdown-container__option--is-selected {
          input {
            &:after {
              content: "";
              margin-top: 3px;
              background-image: url(/images/home/sendEmail/Vector.png);
              background-size: 11px;
              background-repeat: no-repeat;
              position: absolute;
              width: 14px;
              height: 17px;
            }
          }
        }
        button[type="button"] + div {
          width: 100%;
          background-color: #fff;
          border-radius: 8px !important;
          border-top-left-radius: 0px !important;
          border-top-right-radius: 0px !important;
          padding: 6px 16px 6px 16px;
          border: 1px solid #c9c9c9;
          position: relative;
          margin-top: -6px !important;
          border-top: none;
        }
        .dropdown-container__menu {
          .dropdown-container__option {
            &:first-child {
              padding: 0px 26px 12px 0px;
            }
            &:last-child {
              padding: 12px 26px 0px 0px;
            }
            &:not(:last-child) {
              border-bottom: 1px solid map-get($Neutrals, "N40") !important;
            }
          }
        }
        .dropdown-container__menu-list {
          max-height: 200px !important;
          margin-top: 10px;
        }
      }
    }
    h3 {
      margin-bottom: 12px;
      span {
        color: map-get($Primary, "P300");
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .sendEmail {
      :global .container {
        .items {
          padding: 0 10px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    padding: 0px 0 64px;
    :global {
      flex-wrap: wrap;
      .container {
        flex-direction: column;
        .sendEmail-image {
          width: 100%;
          height: 450px;
          background-size: auto 100%;
          div {
            height: 450px !important;
          }
        }
        .sendEmail-content {
          width: 100%;
          margin-bottom: 16px;
          margin-top: 16px;
          .sendEmail-form {
            padding: 0;
            padding-top: 23px;
            .send-mail-btn {
              margin-top: 68px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    :global .container {
      margin: 0px;
      flex-direction: column;
      padding: 40px 35px 54px;
      .sendEmail-content {
        width: 100%;
        margin-bottom: 26px;
        align-items: left;
      }
      .sendEmail-formGroup-container {
        flex-direction: column !important;
        .form-group {
          width: 100% !important;
          &:first-child {
            margin-right: 0px !important;
          }
        }
      }
      .sendEmail-image {
        width: 100%;
        height: 350px;
        background-size: auto 100%;
        div {
          height: 350px !important;
        }
      }
      h3 {
        margin-bottom: 0px;
      }
    }
  }

  @media (max-width: 576px) {
    padding: 0;
    :global .container {
      .sendEmail-content {
        align-items: flex-start;
      }
      .sendEmail-image {
        height: auto;
        div {
          height: 250px !important;
        }
      }
    }
  }
}
