@import '../../sass/colors';

.modal {
    background-color: rgba(43, 50, 64, 0.8);
    display: flex !important;
    align-items: center;
}

.custom-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    max-height: 80%;
    flex-grow: 1;
    overflow: hidden;


    .modal-content {
        background-color: #F5F5F5;
        border-radius: 12px;
        height: 100%;
        overflow: auto;

        .modal-header {
            justify-content: center;
            border-bottom: none;

            .close {
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                color: map-get($Neutrals, "N900");
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1;
                outline: none;
                position: absolute;
                top: 16px;
                right: 16px;
                height: 30px;
                width: 30px;
                padding: 0;
                margin: 0;
                text-shadow: none;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }

                &:focus {
                    background-color: rgba(0, 0, 0, 0.3);
                }

                span {
                    font-weight: 200;
                    font-size: 24px;
                    line-height: 8px;
                    height: 12px;
                }
            }
        }

        .modal-body {
            padding: 24px;
            padding-top: 0;
            overflow: auto;
            height: 100%;
            overflow-x: hidden;
        }
    }

    @media(max-width:576px) {
        max-height: initial;
        height: 100%;
        max-width: initial;
        margin: 0;

        .modal-content {
            border-radius: 0;
            border: none;

            .modal-body {
                padding: 12px;
                padding-top: 0;
            }
        }
    }

    .modal-footer {
        border-top: none;
        padding: 16px;
        padding-top: 4px;

        [class*="col"] {
            padding-left: 0;
            margin: 0;
        }

        [class*="col"]:last-child {
            padding-right: 0;
        }

    }
}