
.under-maintenance{
    :global .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 100px auto 128px;
        h2{
            margin: 44px auto 16px;
        }
    }
    @media (max-width:992px) {
        :global .container {
            margin: 0 auto 109px;
            div{
                width: 505px !important;
                height: 505px !important;
            }
        }
    }
    @media (max-width:768px) {
        :global .container {
            margin: 0 auto 109px;
            div{
                width: 405px !important;
                height: 405px !important;
            }
        }
    }
    @media (max-width:576px) {
        :global .container {
            margin: 0 auto 109px;
            div{
                width: 305px !important;
                height: 305px !important;
            }
        }
    }
}