@import "../../../../../../sass/variables";

.ticker {
  padding: 30px 0 88px;
  background-color: map-get($Neutrals, "N0") !important;
  :global {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ticker-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .ticker-header {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .Getstartednow {
          height: 56px;
          width: 183px;
          padding: 12px 20px;
          border-radius: 12px;
        }
      }
      .subheading{
        width: 60%;
        margin-bottom: 16px;
      }
    }
    h3 {
      margin-bottom: 12px;
      white-space: break-spaces;

      span {
        color: map-get($Primary, "P300");
      }
    }
    .items {
      display: flex;
      flex-wrap: wrap;
      // margin: 80px 0 60px;
      padding: 0 95px;
      .step-item {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
        h3 {
          margin-bottom: 0;
          display: flex;
          .bottom-line{
            display: flex;
            flex-direction: column;
            img{
              top: -7px;
              position: relative;
            }
          }
          span {
            color: inherit;
            padding-bottom: 4px;
            //border-bottom: 3px solid map-get($Primary, "P300");
          }
        }
        .description {
          margin-bottom: 0;
        }
      }
    }
  }
 @media (min-width:992px) and (max-width:1200px){
   :global{
     .items{
       padding: 0 10px;
     }
   }
 }
  @media (max-width: 992px) {
    padding: 48px 0 56px;

    :global {
      flex-wrap: wrap;
      .items {
        padding: 0;
      }
      .frame {
        margin-bottom: 16px;
        > div {
          height: 360px !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    :global {
      .ticker-container {
        .ticker-header{
          .Getstartednow{
            height: 48px;
            width: 124px;
            padding: 0 12px;
            margin: 6px 0 12px;
          }
        }
        .subheading{
          width: 90%;
        }
      }
      .items {
        padding: 0;
        .step-item {
          .responsive-line{
            img{
              width: 75%;
              top: -5px;
            }
          }
        }
      }
      .frame {
        > div {
          height: 280px !important;
        }
      }
    }
  }

  @media (max-width: 576px) {
    padding: 32px 0;
    
    :global  {
      .ticker-container {
        .ticker-header{
          .Getstartednow {
            height: 42px;
            width: 120px;
            padding: 5px 10px;
            margin: 6px 0 12px;
          }
        }
      }
      .items {
        padding: 0;
        .step-item {
          padding: 0 60px ;
          .responsive-line{
            img{
              width: 70%;
              top: -5px;
            }
          }
        }
      }
      .frame {
        > div {
          height: 50vw !important;
        }
      }
    }
  }
}
