@import '../../../../sass/variables';

.share-task-modal {
    .modal-body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            padding: 8px;
            width: 25%;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }

        button {
            border: none;
            outline: none;
            border-radius: 50px;
            width: 64px;
            height: 64px;
            overflow: hidden;
            margin-bottom: 4px;

            &.copy {
                background-color: map-get($Neutrals, 'N50');
                color: map-get($Neutrals, 'N0');
            }
        }
    }
}