@import '../../../../sass/variables';
@import '../../../../sass/colors';

.task-view {
    position: relative;
    width: 100%;
    transition: all 0.2s;

    .task-view-container {
        display: flex;
        flex-direction: column;
    }

    .task-header-container {
        height: 250px;
        display: flex;
        position: relative;

        .task-attachments {
            width: 100%;
            height: 100%;
            display: grid;
            grid-gap: 6px;
            grid-auto-flow: dense;
            border-radius: 10px;
            overflow: hidden;
            transition: all 0.2s;

            .grid-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: center;
                background-repeat: repeat-x;
                cursor: pointer;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 96;
                    background: map-get($Neutrals, "N900");
                    opacity: 0.4;
                    visibility: visible;
                    transition: all 0.3s;
                }

                .default-image {
                    background-size: auto !important;
                    background-repeat: repeat-x !important;
                }

                .jb-btn {
                    position: relative;
                    z-index: 98;
                    width: auto;
                    background: white;
                    padding: 5px 10px;
                    font-size: 13px;
                }
            }

            &.grid-one {
                grid-template-columns: repeat(auto-fill, 100%);
                grid-auto-rows: 100%;
            }

            &.grid-sec {
                grid-template-columns: repeat(auto-fill, calc(50% - 3px));
                grid-auto-rows: 100%;
            }

            &.grid-tre {
                grid-template-columns: repeat(auto-fill, calc(33.33% - 4px));
                grid-auto-rows: calc(150px - 3px);

                .grid-item {
                    &:first-child {
                        grid-column: auto/span 2;
                        grid-row: auto/span 2;
                    }
                }
            }
        }

        .task-actions {
            position: absolute;
            bottom: 16px;
            right: 24px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            z-index: 555;
            background-color: #091E42bb;
            border-radius: 50px;
            padding: 0 4px;

            .task-action-icon {
                background: transparent;
                color: map-get($Neutrals, "N30");

                outline: none;
                border: none;
                padding: 0;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 8px;
                font-size: 16px;

                cursor: pointer;

                &.delete,
                &.report {
                    color: map-get($Error, "R300");
                }

                &.disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    .task-info-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;

        & [class*=col] {
            padding-left: 0;

            &:last-child {
                padding-right: 0;
            }

            @media(max-width: 1200px) {
                padding-right: 0;
                padding-bottom: 16px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        .task-status-box {
            display: flex;
            margin-bottom: 16px;

            [class*=task-status-] {
                border-radius: 5px;
                padding: 6px 0;
                margin-right: 4px;
                color: map-get($Neutrals, "N300");
                background: map-get($Neutrals, "N30");
                text-align: center;
                width: 80px;
            }

            .task-status-open {
                background: map-get($Primary, "P50");
                color: map-get($Primary, "P300");
            }

            .task-status-assigned {
                background: map-get($Warning, "Y50");
                color: map-get($Warning, "Y300");
            }

            .task-status-cancelled {
                background: map-get($Error, "R50");
                color: map-get($Error, "R300");
            }

            .task-status-completed {
                background: map-get($Neutrals, "N50");
                color: map-get($Neutrals, "N300");
            }

            .task-status-overdue {
                background: map-get($Error, "R50");
                color: map-get($Error, "R300");
            }

            .task-status-closed {
                background: map-get($Neutrals, "N50");
                color: map-get($Neutrals, "N300");
            }

        }

        .task-details-container {
            .task-title {
                color: map-get($Neutrals, "N900");
                margin-bottom: 6px;
            }

            .task-posted-at {
                color: map-get($Neutrals, "N100");
                margin-bottom: 12px;
                display: block;
            }

            .task-detail-box {
                background-color: map-get($Neutrals, "N30");
                padding: 6px 16px;
                display: flex;
                align-items: center;
                border-radius: 4px;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }

                >svg {
                    color: map-get($Neutrals, "N100");
                    font-size: 20px;
                    margin-right: 20px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    margin-right: auto;

                    .label {
                        color: map-get($Neutrals, "N70");
                    }

                    .value {
                        color: map-get($Neutrals, "N300");

                        svg {
                            margin: 0 2px;
                            color: map-get($Neutrals, "N60");
                            font-size: 4px;
                        }
                    }
                }

                button {
                    padding: 0;
                    text-decoration: none;
                    color: map-get($Primary, "300");
                }
            }
        }

        .task-poster-container {
            border: solid 1px map-get($Neutrals, "N50");
            border-radius: 8px;
            padding: 12px;

            .poster-details {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-bottom: 12px;
                border-bottom: solid 1px map-get($Neutrals, "N40");

                .profile-avatar-container {
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                }

                .poster-name {
                    display: flex;
                    flex-direction: column;

                    .label {
                        color: map-get($Neutrals, "N100");
                        margin-bottom: 4px;
                    }

                    .value {
                        color: map-get($Primary, "P300");
                    }
                }
            }

            .budget {
                display: flex;
                flex-direction: column;
                padding: 16px 20px;
                text-align: center;

                .label {
                    color: map-get($Neutrals, "N100");
                    margin-bottom: 12px;
                }

                .value {
                    color: map-get($Neutrals, "N900");
                }
            }

            button {
                height: 40px;
                padding: 0;
            }
        }
    }


    .task-description-container {
        margin: 16px 0;

        .label {
            color: map-get($Neutrals, "N100");
        }

        .content {
            color: map-get($Neutrals, "N500");
            margin: 0;
            white-space: break-spaces;
        }
    }

    .job-requirements {
        background-color: map-get($Error, "R50");
        padding: 12px 24px 12px 12px;
        border-radius: 8px;
        margin-bottom: 16px;
        width: fit-content;

        .item {
            margin-bottom: 8px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            svg {
                font-size: 16px;
                color: map-get($Error, "R100");
                margin-right: 16px;
            }

            span {
                color: map-get($Error, "R300");
            }
        }
    }


    .task-block {
        margin-bottom: 24px;
        border-top: 1px solid map-get($Neutrals, "N30");
        margin-top: 12px;

        .block-title {
            color: map-get($Neutrals, "N300");
            margin: 24px 0;
        }
    }

    .task-offers-container {
        display: flex;
        flex-direction: column;
        margin: 16px 0;

        .task-offers-list {
            min-height: 200px;
            position: relative;

            .no-content {
                align-items: center;
                position: absolute;
                width: 100%;
                min-height: auto;
            }

        }

        .task-offer {
            border-radius: 6px;
            padding: 20px;
            background: map-get($Neutrals, "N30");
            margin-bottom: 16px;


            .user-profile-summary {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 16px;

                .profile-avatar-container {
                    width: 50px;
                    height: 50px;
                    margin-right: 12px;
                }

                .user-details {
                    margin-right: auto;

                    .user-name {
                        color: map-get($Neutrals, "N900");
                        margin-bottom: 4px;
                        display: block;
                    }

                    .user-completion-rate {
                        color: map-get($Neutrals, "N300");
                        margin-bottom: 4px;

                        span {
                            color: map-get($Success, "G300");
                        }
                    }

                    .user-rating {

                        svg {
                            color: map-get($Warning, "Y400");
                            margin-right: 4px;
                        }

                        span.rating {
                            color: map-get($Warning, "Y400");
                        }
                    }
                }

                .offer-actions,
                .comment-action {
                    display: flex;
                    align-items: center;
                    margin-left: auto;

                    .status-assigned {
                        background: map-get($Warning, "Y50");
                        color: map-get($Warning, "Y300");
                        margin-left: 24px;
                        padding: 4px 8px;
                        border-radius: 4px;
                    }

                    .report-icon {
                        color: map-get($Error, "R300");
                        font-size: 16px;
                    }
                }
            }
        }

        .task-offer-content {
            p {
                color: map-get($Neutrals, "N900");
                margin-bottom: 12px;
            }

            .offer-time {
                color: map-get($Neutrals, "N300");
            }

            .attachment-view {
                .attachment-item {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .task-question-container {
        padding: 0 16px;

        .task-question {
            margin-bottom: 16px;
            border-bottom: 1px solid #f1f1f1;

            .task-question-details {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 16px;


                .profile-avatar-container {
                    width: 36px;
                    height: 36px;
                    margin-right: 8px;
                }

                .user-details {
                    margin-right: auto;

                    .user-name {
                        color: map-get($Neutrals, "N900");
                        margin-bottom: 4px;
                        display: block;
                    }
                }

                .question-action {
                    display: flex;
                    align-items: center;
                    margin-left: auto;

                    .report-icon {
                        color: map-get($Error, "R300");
                        font-size: 16px;
                    }
                }
            }

            .task-question-content {
                .task-question-message {
                    color: map-get($Neutrals, "N900");
                }

                .task-question-time {
                    color: map-get($Neutrals, "N300");
                }
            }
        }
    }

    .task-comments-container {
        margin-top: 24px;

        .task-comment-count {
            color: map-get($Neutrals, "N300");
            cursor: pointer;
            position: relative;
            padding-left: 40px;

            &::before {
                content: "";
                width: 36px;
                height: 1px;
                background-color: map-get($Neutrals, "N60");
                position: absolute;
                left: 0;
                top: 50%;
            }
        }

        .task-comment-item {
            padding: 12px 0 12px 10px;
            border-left: 3px solid map-get($Neutrals, "N60");
            margin-top: 12px;

            .task-comment-details {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 16px;


                .profile-avatar-container {
                    width: 36px;
                    height: 36px;
                    margin-right: 8px;
                }

                .user-details {
                    margin-right: auto;

                    .user-name {
                        color: map-get($Neutrals, "N900");
                        margin-bottom: 4px;
                        display: block;
                    }

                    .user-role {
                        background-color: map-get($Neutrals, "N60");
                        color: map-get($Neutrals, "N0");
                        margin-top: 4px;
                        padding: 0 4px;
                        border-radius: 4px;
                    }
                }

                .comment-action {
                    display: flex;
                    align-items: center;
                    margin-left: auto;

                    .report-icon {
                        color: map-get($Error, "R300");
                        font-size: 16px;
                    }
                }
            }

            .task-comment-content {

                .task-comment-message {
                    color: map-get($Neutrals, "N900");
                }

                .task-comment-time {
                    color: map-get($Neutrals, "N300");
                }

            }
        }
    }
}

//attachment viewer
.react-viewer {
    .react-viewer-close>i {
        top: 11px;
    }

    .react-viewer-toolbar {
        margin-bottom: 20px !important;
    }

    .react-viewer-toolbar {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}