@import "../../../../sass/variables";

.reviews {
    display: flex;
    flex-direction: column;
    :global {
        .header {
            padding-top: 84px;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 60%;
            margin: 0 auto;
            h3,
            span {
                color: map-get($Neutrals, "N900");
                text-align: center;
            }

            h3 {
                margin-bottom: 12px;
            }
        }

        .slick-slider {
            margin-bottom: 84px;
            background-image: url("/images/location/reviews/background.png");
            background-repeat: no-repeat;
            background-position: center;

            .slick-track {
                display: flex !important;

                .slick-slide {
                    padding: 136px 40px;
                    width: 40vw;
                    position: relative;
                    cursor: grab;
                    max-height: 544px;
                    display: flex;
                    align-items: flex-end;
                    > div {
                        width: 100%;
                    }

                    .item {
                        transition: all linear 0.5s;
                        opacity: 0.6;
                        background-color: map-get($Neutrals, "N0");
                        padding: 24px 36px;
                        border-radius: 6px;
                        width: 100%;
                        position: relative;
                        p {
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        .icon {
                            color: map-get($Neutrals, "N800");
                            font-size: 24px;
                            position: absolute;
                            top: -16px;
                            left: -12px;
                        }

                        .writer {
                            display: flex;
                            margin-top: 16px;

                            .avatar {
                                border-radius: 50px;
                                max-width: 55px ;
                                max-height: 55px ;
                                margin: 0;
                            }

                            > div {
                                display: flex;
                                flex-direction: column;
                                margin-left: 16px;

                                > * {
                                    margin-bottom: 8px;
                                }

                                .role {
                                    color: #949596;
                                }

                                .star-rating {
                                    margin: 0;

                                    .rating {
                                        margin: 0;

                                        .star {
                                            margin: 0 0 0 2px;

                                            svg {
                                                font-size: 10px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.slick-active {
                        .item {
                            padding: 36px;
                            opacity: 1;
                            box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.1);

                            .icon {
                                font-size: 30px;
                            }

                            .writer {
                                margin-top: 28px;

                                img {
                                    width: 65px;
                                    height: 65px;
                                }
                            }
                        }
                    }
                    &:not(.slick-active) {
                        .item h4 {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }
            }

            .slick-arrow {
                bottom: 0;
                top: auto;
                left: auto;
                right: 124px;
                color: map-get($Primary, "P300");
                background-color: map-get($Primary, "P50");
                border-radius: 0;
                width: 54px;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
                transform: none;

                svg {
                    font-size: 24px;
                }

                &::before {
                    content: none;
                }

                &.slick-next {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                &.slick-prev {
                    right: calc(124px + 54px);
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                &:hover {
                    color: map-get($Neutrals, "N0");
                    background-color: map-get($Primary, "P300");
                }
            }
        }
    }

    @media (min-width: 992px) and(max-width:1200px) {
        :global {
            .slick-slider .slick-track .slick-slide {
                width: 50vw;
            }
        }
    }
    @media (min-width: 768px) and(max-width:992px) {
        :global {
            .header {
                width: 85%;
            }
            .slick-slider .slick-track .slick-slide {
                width: 55vw;
                padding: 136px 16px;
                .item p {
                    -webkit-line-clamp: 5;
                }
            }
        }
    }
    @media (min-width: 576px) and(max-width:768px) {
        :global {
            .header {
                width: 85%;
            }
            .slick-slider {
                .slick-track .slick-slide {
                    width: 60vw;
                    padding: 132px 16px;
                    .item {
                        padding: 20px 24px;
                        p {
                            -webkit-line-clamp: 5;
                        }
                        .writer {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                            > div {
                                > * {
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                    &.slick-active {
                        .item {
                            padding: 24px;

                            .writer img {
                                width: 55px;
                                height: 55px;
                            }
                        }
                    }
                }
                .slick-arrow {
                    left: calc(50% - 54px);
                    &.slick-next {
                        left: 50%;
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        :global {
            .header {
                width: 85%;
            }
            .slick-slider {
                background-image: none;
                margin-bottom: 56px;
                .slick-track .slick-slide {
                    width: 70vw;
                    padding: 0 12px;
                    max-height: 380px;
                    margin: 63px 0 118px;
                    .item {
                        padding: 16px;
                        p {
                            display: -webkit-box;
                            -webkit-line-clamp: 7;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin-bottom: 4px;
                        }
                        .icon {
                            font-size: 18px;
                            top: -10px;
                            left: -10px;
                        }
                        .writer {
                            margin-top: 0;
                            img {
                                width: 45px;
                                height: 45px;
                            }
                            > div {
                                > * {
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                    &.slick-active {
                        .item {
                            padding: 16px;
                            .icon {
                                font-size: 22px;
                            }
                            .writer {
                                margin-top: 16px;
                                img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }
                    }
                }
                .slick-arrow {
                    width: 42px;
                    height: 42px;
                    left: calc(50% - 42px);
                    &.slick-next {
                        left: 50%;
                    }
                }
            }
        }
    }
}
