@import "../../../../sass/variables";
.date {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  :global {
    [class*="col"] {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      > span {
        margin-bottom: 12px;
      }
      .form-group {
        .input-wrapper {
          margin-bottom: 24px;
          border: 1px solid map-get($Neutrals, "N50");
          box-shadow: none;
          padding: 14px;
          .time-label {
            > :last-child {
              color: map-get($Neutrals, "N300");
            }
          }
        }
      }
    }
    .desktop-duetime {
      .input-wrapper {
        input[type="radio"] {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          &:checked {
            &::before {
              left: 8px;
              height: 33%;
            }
            &::after {
              left: 8px;
            }
          }
        }
      }
    }
    .mobile-duetime {
      display: none;
    }
    .pagination {
      display: flex;
      justify-content: space-between;
      margin: auto -57px 0;
      .btn-primary {
        padding: 12px 44px;
        border-radius: 6px;
      }
      .btn-link {
        display: flex;
        align-items: center;
        box-shadow: none;
        text-decoration: none;
        svg {
          margin-right: 14px;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    :global {
      [class*="col"] {
        padding: 0 12px;
        .form-group {
          .input-wrapper {
            padding: 14px 12px;
          }
        }
      }
      .pagination {
        margin: auto 0 0;
        padding-bottom: 24px;
        .btn-primary {
          padding: 8px 32px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding-bottom: 30px;
    :global {
      .desktop-duetime {
        display: none;
      }
      .mobile-duetime {
        display: flex;
        margin-top: 10px;
        .input-wrapper {
          padding: 0;
          border: none;
          .dropdown-container {
            border: 1px solid map-get($Neutrals, "N50");
            border-radius: 10px;
            padding: 10px;
          }
          .dropdown-body {
            border: 1px solid map-get($Neutrals, "N50");
            border-top: none;
            border-top-left-radius: unset;
            border-top-right-radius: unset;
            margin-top: -8px;
            box-shadow: none;
            padding: 0;
            display: none;
            &.open {
              display: block;
            }
            .dropdown-item {
              padding: 11px 16px;
              &:first-child {
                padding-top: 6px;
              }
              span {
                color: map-get($Neutrals, "N900");
                margin: 0;
                padding: 0;
              }
              &.active {
                span {
                  color: map-get($Primary, "P300");
                }
                background-color: map-get($Neutrals, "N0");
              }
            }
          }
        }
      }
    }
  }
}
