.attachment-handler {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    &.disabled {
        opacity: 0.2;
    }

    .media-handle {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px dashed #ddd;
        border-radius: 6px;

        input.media-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 998;
            cursor: pointer;
        }

        .media-handle-inner {
            position: relative;
            z-index: 996;
            height: 100px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: #a0a0a0;

            .label {
                font-size: 11px;
            }

            svg {
                font-size: 28px;
                margin-bottom: 4px;
            }
        }
    }
}

@media(max-width: 767px) {
    .attachment-view {
        margin-top: 15px;
    }
}

.attachment-view .attachment-item {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    padding: 3px;
    width: 100px;
    height: 100px;
}

.attachment-item {
    .attachment-item-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        background: white;
        overflow: hidden;
        border: 1px solid #ddd;
        box-shadow: 0 0 4px #0000001f;
        border-radius: 6px;
    }

    .attachment-preview {
        position: relative;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .file-type {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background: #00000036;
            z-index: 94;

            svg {
                color: white !important;
                font-size: 18px !important;
            }
        }
    }

    .remove-attachment {
        position: absolute;
        top: 2px;
        right: 2px;
        color: white;
        line-height: 1;
        padding: 2px;
        border-radius: 50px;
        background: #00000038;
        line-height: 1;
        font-size: 12px;
        cursor: pointer;
        z-index: 98;
    }

    .attachment-item-container svg.media-icon {
        font-size: 25px;
        margin-bottom: 5px;
        color: #959595
    }
}

.attachment-item.other-at {
    .attachment-item-container {
        padding: 4px 5px;
    }

    .attachment-name {
        width: 100%;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 11px;
        font-weight: 500;
        color: #989898;
    }
}

.attachment-item.preview-item {
    cursor: pointer;

    .attachment-preview {
        position: relative;
    }

    .attachment-preview:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 97;
        background: #0000002e;
    }

    .attachment-preview svg {
        position: relative;
        z-index: 98;
        font-size: 22px;
        opacity: 0;
        color: white;
        transition: all 0.2s;
    }
}

.attachment-item.preview-item:hover,
.attachment-item.preview-item.show-nav {
    .attachment-preview:after {
        opacity: 1;
        transition: all 0.2s;
    }

    .attachment-preview svg {
        opacity: 1;
        transition: all 0.2s;
    }
}

.attachment-item.preview-item.other-at .attachment-item-container {
    border: 0;
    box-shadow: none;
    background: #efefef;
}

.attachment-item.other-at .attachment-item-container a {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}

.attachment-item.preview-item.other-at .attachment-name {
    color: #5468fd !important;
}