@import '../../sass/variables';

.post-job-modal {
    textarea {
        resize: none;
    }

    .step-navigator {
        background: #FFFFFF;
        display: flex;
        justify-content: space-between;
        padding: 16px 32px;
        border-radius: 8px;
        margin-bottom: 16px;

        >svg {
            color: #C9C9C9;
            align-self: center;
            font-size: 8px;
        }

        .step-item {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #C9C9C9;

            &.active {
                color: $primary;
            }

            &.done {
                color: map-get($Success, "G300");
            }


            .icon {
                margin-bottom: 8px;

                >svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .label {
                font-size: 12px;
                font-weight: 500;
            }

        }
    }

    .attachment-handler {
        background: #FFF;
        padding: 12px 16px;
        border: 1px solid #C9C9C9;
        border-radius: 8px;

        .label {
            font-size: 13px;
            font-weight: 600;
            color: $primary;
            margin-bottom: 12px;
        }

        .attachment-items {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;

            .attachment-item {
                height: 72px;
                width: 72px;
                position: relative;
                margin-right: 8px;

                .attachment-preview {
                    border-radius: 4px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }

                .remove-trigger {
                    position: absolute;
                    top: 5px;
                    z-index: 99;
                    right: 5px;
                    color: map-get($Error, "R300");
                    background-color: #FFF;
                    border-radius: 50px;
                    font-size: 10px;
                    display: flex;
                    width: 16px;
                    height: 16px;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        color: #fff;
                        background-color: map-get($Error, "R300");
                    }
                }
            }

            .upload-box {
                background: #F5F5F5;
                color: #2B3240;
                position: relative;
                height: 72px;
                width: 72px;
                border-radius: 4px;

                svg {
                    position: absolute;
                    width: 40%;
                    top: 30%;
                    left: 30%;
                    height: 40%;
                }

                img {
                    visibility: hidden;
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    border-radius: 4px;
                }

                &.uploading {
                    svg {
                        visibility: hidden;
                    }

                    img {
                        visibility: visible;
                    }
                }

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 99;
                    cursor: pointer;
                }

            }
        }
    }

    .requirements-handler {
        margin: 24px 0;
    }

    .job_type {
        display: flex;

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            margin: 0;
            cursor: pointer;

            .handle {
                background-color: map-get($Neutrals, 'N30');
                width: 48px;
                height: 24px;
                border-radius: 50px;
                position: relative;
                transition: all ease-in 0.2s;

                &:after {
                    background-color: map-get($Neutrals, 'N100');
                    content: "";
                    width: 28px;
                    height: 28px;
                    border-radius: 50px;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    transition: all ease-in 0.2s;
                }

                &.active {
                    background-color: map-get($Primary, 'P75');

                    &:after {
                        left: 20px;
                        background-color: map-get($Primary, 'P300');
                    }
                }
            }
        }

        input[type="checkbox"] {
            display: none;
        }
    }

    .due_time_container {
        background-color: #fff;
        padding: 16px;
        border-radius: 8px;

        .label {
            color: $primary;
            font-weight: 600;
        }

        .items {
            margin-top: 16px;

            .input-wrapper {
                border: none;
                box-shadow: none;
                padding: 12px 0;

                &>div input[type="checkbox"] {
                    align-self: center;
                    background-color: #fff;
                    border: 2px solid #C9C9C9;

                    &:checked {
                        background-color: #5468fd;
                        border: none;
                    }
                }
            }

            .time-label {
                display: flex;
                flex-direction: column;

                .time-string {
                    font-size: 16px;
                    font-weight: 500;
                }

                .time-info {
                    font-weight: 400;
                    font-size: 12px;
                    margin-top: 8px;
                }
            }
        }
    }

    .button-select {
        background-color: #FFF;

        .btn-light {
            background-color: #FFF;
            border: none;
        }
    }

    .budget-total {
        font-size: 14px;
        font-weight: 500;
        color: #2B3240;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        padding: 16px;
        border-radius: 8px;

        .amount-view {
            color: #4C5EFE;
            display: flex;
            align-items: center;
            font-weight: 700;

            svg {
                font-size: 16px;
            }

            .amount {
                font-size: 16px;
            }
        }
    }

    .post-task-success {
        display: flex;
        flex-direction: column;
        align-items: center;

        .check-mark {
            display: flex;
            align-items: center;
            border-radius: 50px;
            justify-content: center;
            background-color: #5468fd;
            color: #fff;
            margin-bottom: 16px;
            height: 100px;
            width: 100px;

            svg {
                font-size: 40pt;
            }
        }

        .message {
            font-size: 15px;
            font-weight: 600;
            color: #2B3240;
            margin: 40px 0;
        }
    }

    .modal-footer {

        .back {
            background-color: #FFF;
            color: #4D576A;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

}

ul.requirements-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 500;
        display: flex;

        button {
            margin-right: 10px;

            &.remove {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                padding: 0;
            }
        }
    }
}

.add-requirement {
    margin-top: 16px;
    color: $primary;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;

    button {
        background-color: #fff;
        color: $primary;
        margin-right: 10px;
        border: none;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 0;

        &:hover {
            background-color: $primary;
            color: #FFF;
        }
    }
}

.add-requirement-modal {
    p {
        background-color: #F0F0F0;
        padding: 16px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        color: #4D576A;
        line-height: 25px;
    }

    .label {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        color: #4D576A;
        margin-bottom: 16px;

        .error {
            color: map-get($Error, "R300");
        }
    }

    .input-wrapper {
        margin-bottom: 24px;
    }
}