@import "../../../../sass/variables";
.select-category {
    margin: 24px 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    :global {
        .select-mobile {
            display: none;
        }
        .category {
            width: 20%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            cursor: pointer;
            z-index: 5;
            &:first-child {
                margin-left: 10%;
            }
            img {
                padding: 10px;
                background-color: map-get($Neutrals, "N20");
                width: 94px;
                height: 94px;
                border-radius: 100%;
                margin: 16px;
            }
            span {
                text-align: center;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        margin: 0 94px;
        &::after {
            background-position-y: calc(100% + 174px);
        }
        :global {
            .category {
                margin-bottom: 12px;
                align-self: flex-start;
                img {
                    width: 64px;
                    height: 64px;
                    margin: 12px;
                }
            }
        }
    }
    @media (max-width: 992px) {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 32px;
        position: relative;
        padding-top: 40px;
        margin: 0 auto ;
        width: 100%;
        &::after {
            content: none;
        }
        :global {
            .select-mobile {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                justify-content: center;
                color: map-get($Primary, "P300");
            }
            .category {
                width: 100%;
                height: 100%;
                justify-content: flex-start;
                margin-bottom: 0;

                &:first-child {
                    margin-left: 0;
                }
                img {
                    width: 60px;
                    height: 60px;
                    margin: 0 auto 8px;
                }
                span {
                    width: 68%;
                    margin: 0 auto;
                }
            }
        }
    }

    @media (max-width: 576px) {
        :global {
            .category {
                margin-bottom: 10px !important;
            }
        }
    }
}
