@import "../../../../sass/variables";

.recent-jobs {
    :global {
        .container {
            display: flex;
            flex-direction: column;

            .header {
                margin: 88px 0 48px;
            }

            .slick-slider {
                margin-bottom: 116px;
                position: relative;

                .slick-track {
                    display: flex !important;
                    align-items: center;
                    margin-left: 135px;

                    .slick-slide {
                        width: 460px;
                        position: relative;
                        cursor: grab;
                        padding: 0 16px;
                        transition: all linear 0.5s;
                        opacity: 0.6;

                        &.slick-active {
                            opacity: 1;
                        }

                        .item {
                            background-color: map-get($Neutrals, "N20");
                            padding: 24px;
                            border-radius: 8px;
                            display: flex;
                            flex-direction: column;
                            .content {
                                display: flex;
                                border-bottom: 0.75px solid map-get($Neutrals, "N50");
                                padding-bottom: 24px;

                                .avatar {
                                    border-radius: 100%;
                                    flex-shrink: 0;
                                    overflow: hidden;
                                    display: flex;
                                    width: 70px;
                                    height: 70px;
                                    div,
                                    img {
                                        min-width: 100% !important;
                                        min-height: 100% !important;
                                        max-width: 100% !important;
                                        max-height: 100% !important;
                                    }
                                }

                                .user-info {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    flex-grow: 1;
                                    margin-left: 16px;

                                    .title {
                                        display: flex;
                                        justify-content: space-between;
                                        h4 {
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                            -webkit-box-orient: vertical;
                                            overflow: hidden;
                                            max-width: 80%;
                                            text-overflow: ellipsis;
                                            word-break: break-word;
                                        }

                                        h4,
                                        span {
                                            color: map-get($Neutrals, "N1000");
                                        }
                                    }

                                    .account-info {
                                        display: flex;
                                        justify-content: space-between;
                                        > div {
                                            display: flex;
                                            align-items: center;
                                        }
                                        div{
                                            align-items: center;
                                        }
                                        svg,
                                        span {
                                            color: map-get($Neutrals, "N80");
                                        }
                                        svg {
                                            flex-shrink: 0;
                                            font-size: 16px;
                                        }

                                        span {
                                            margin-left: 8px;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                            -webkit-box-orient: vertical;
                                            overflow: hidden;
                                            word-break: break-all;
                                        }
                                    }
                                }
                            }

                            p {
                                margin: 16px 16px 16px 0;
                                color: map-get($Neutrals, "N900");
                                word-break: break-word;
                                height: 100px;
                                overflow: hidden;
                            }

                            .status-box {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 20px;

                                .status {
                                    background-color: map-get($Primary, "P50");
                                    border-radius: 4px;
                                    color: map-get($Primary, "P300");
                                    padding: 4px 12px;
                                }

                                .offers {
                                    background-color: map-get($Neutrals, "N30");
                                    border-radius: 4px;
                                    color: map-get($Neutrals, "N200");
                                    padding: 4px 8px;
                                }
                            }
                        }
                    }
                }

                .slick-arrow {
                    background-color: map-get($Primary, "P300");
                    color: map-get($Neutrals, "N0");
                    border-radius: 10px;
                    width: 44px;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 10;

                    svg {
                        font-size: 24px;
                    }

                    &::before {
                        content: none;
                    }

                    &:hover {
                        background-color: map-get($Primary, "P50");
                        color: map-get($Primary, "P300");
                    }
                }
            }
        }
    }

    &:nth-child(2n) {
        :global .container .slick-slider .slick-track .slick-slide .item {
            background-color: map-get($Neutrals, "N0");
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        :global {
            .container {
                .slick-slider .slick-track {
                    margin: 0 5vw;

                    .slick-slide {
                        width: 42vw;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        :global {
            .container {
                max-width: unset;
                padding: 0;
                .header {
                    text-align: center;
                }
                .slick-slider .slick-track {
                    margin: 0 5vw;

                    .slick-slide {
                        width: 45vw;
                        padding: 0 8px;
                        .item{
                            .content{
                                .user-info{
                                    margin-left: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 680px) and(max-width: 768px) {
        :global {
            .container {
                max-width: unset;
                padding: 0;
                .header {
                    text-align: center;
                }
                .slick-slider {
                    .slick-track {
                        margin: 0 5vw;
                        .slick-slide {
                            width: 45vw;
                            padding: 0 8px;
                            .item {
                                padding: 16px 12px;
                                .content {
                                    padding-bottom: 16px;
                                    .avatar {
                                        width: 54px;
                                        height: 54px;
                                    }
                                    .user-info{
                                        margin-left: 8px;
                                        .account-info{
                                            >:last-child{
                                                margin-left:6px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* @media (max-width: 768px) {
        :global {
            .container {
                padding: 0;
                max-width: unset;
                .header {
                    margin: 56px auto 36px;
                    width: 80%;
                }

                .slick-slider {
                    margin-bottom: 64px;

                    .slick-track {
                        margin: 0;

                        .slick-slide {
                            padding: 0 6px;
                            opacity: 1;
                            width: 80vw;

                            .item {
                                padding: 16px 12px;

                                .content {
                                    padding-bottom: 16px;

                                    img {
                                        width: 48px;
                                        height: 48px;
                                    }

                                    .user-info {
                                        margin-left: 8px;
                                    }
                                }

                                p {
                                    margin: 12px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }*/

    @media (max-width: 680px) {
        :global {
            .container {
                max-width: unset;
                padding: 0;
                .header {
                    text-align: center;
                    padding: 0 16px;
                }
                .slick-slider {
                    .slick-track {
                        margin: 0 9vw;
                        .slick-slide {
                            width: 82vw;
                            padding: 0 6px;
                            .item {
                                padding: 16px 12px;
                                .content {
                                    padding-bottom: 16px;
                                    .avatar {
                                        width: 49px;
                                        height: 49px;
                                    }
                                    .user-info{
                                        margin-left: 8px;
                                        .account-info{
                                            svg{
                                                font-size: 13px;
                                            }
                                            >:last-child{
                                                margin-left:6px;
                                            }
                                            span{
                                                margin-left: 6px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
