@import "../../../../sass/variables";

.faq {
	padding: 56px 0 80px 0;

	:global {
		.container {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		h3 {
			color: map-get($Neutrals, "N900");
			margin-bottom: 24px;
			text-align: center;
		}

		.questions {
			width: 63%;

			.item-wrapper {
				border-bottom: 1px solid map-get($Neutrals, "N50");
				padding: 16px 0;

				&:last-child {
					border-bottom: none;
				}

				.toggler {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					cursor: pointer;
					.question-text {
						color: map-get($Neutrals, "N950");
					}
					.icon {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 28px;
						height: 28px;
						background-color: map-get($Primary, "P50");
						color: map-get($Primary, "P300");
						border-radius: 4px;
						flex-shrink: 0;
						margin-left: 24px;
					}

					&:hover .icon {
						color: map-get($Primary, "P50");
						background-color: map-get($Primary, "P300");
					}
				}

				.answer-text {
					color: map-get($Neutrals, "N300");
					width: 96%;
					height: 0;
					visibility: hidden;
					margin: 0;
				}

				&.active .answer-text {
					height: auto;
					visibility: visible;
					margin: 8px 0 0px 0;
				}
				.answer-content {
					margin-top: 10px;
					padding: 2px 40px 2px 34px;
					.answer-content-item-container {
						padding: 4px;
						.answer-content-item {
							display: flex;
							border: 1px solid #f4f5f7;
							border-radius: 8px;
							background: map-get($Neutrals, "N20");
							padding: 12px;
							img {
								margin-right: 8px !important;
							}
							.data-row {
								width: 100%;
								display: flex;
								flex-direction: column;
								justify-content: space-around;
								.level-info {
									color: map-get($Neutrals, "N950");
									padding: 1px 0px;
									.title-container {
										display: flex;
										justify-content: space-between;
										align-items: center;
										margin-bottom: 2px;
										.typo-caption2 {
											color: map-get($Primary, "P300");
										}
									}
									.typo-body3 {
										color: map-get($Neutrals, "N500");
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1200px) {
		:global {
			.questions {
				width: 80%;
				.answer-content {
					padding: 2px 0px 2px 0px !important;
					.answer-content-item {
						padding: 8px !important;
					}
				}
			}
		}
	}
	@media (min-width: 576px) and (max-width: 768px) {
		:global {
			.questions {
				width: 80%;
				.answer-content {
					padding: 2px 0px 2px 0px !important;
					.answer-content-item {
						padding: 8px !important;
					}
				}
			}
		}
	}
	@media (max-width: 576px) {
		padding: 40px 0 56px 0;
		:global {
			.container {
				padding: 0 24px;
			}

			h3 {
				width: 85%;
				margin-bottom: 24px;
			}

			.questions {
				width: 100%;
				.item-wrapper {
					padding: 16px 0;
					.answer-content {
						padding: 0px 5px;
						.answer-content-item-container {
							padding: 8px 5px;
							.answer-content-item {
								padding: 6px;
							}
						}
					}
					.toggler {
						.icon {
							width: 24px;
							height: 24px;
						}
					}
				}
			}
		}
	}
}
