@import '../../sass/variables';

.location-input {
    position: relative;
    .icon-after {
        color: $primary;
    }
    .dropdown{
        position: absolute;
        background-color: map-get($Neutrals, "N0" );
        border: 1px solid map-get($Neutrals, "N50" );
        border-radius: 8px;
        width: 100%;
        padding: 16px;
        margin-top: 4px;
        z-index: 1000;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 32px;
                display: flex;
                justify-content: space-between;
                &:last-child{
                    margin: 0;
                }
                svg{
                    font-size: 24px;
                }
            }
        }
    }

    
}

.location-modal {

    .modal-body {
        form {
            display: flex;
            flex-direction: column;
            height: 100%;

            ul {
                list-style: none;
                padding: 0;
                margin: 32px 0 16px;
                flex-grow: 1;
                overflow: auto;
                height: 200px;
            }

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0;
                cursor: pointer;

                &.selected {
                    span {
                        color: #586BF5;
                    }
                }

                span {
                    font-size: 16px;
                    max-width: 90%;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}