@import "../../../../sass/variables";
.date-line {
    :global .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 1px;
            background-color: map-get($Primary, "P400");
            top: 50%;
            left: 5%;
            width: 90%;
        }
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 32px 0;
            .year {
                color: map-get($Neutrals, "N100");
            }
            .circle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 62px;
                height: 30px;
                margin: 12px 16px;
                position: relative;
                background-color:map-get($Neutrals, "N10");

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: map-get($Primary, "P300");
                    z-index: 99;
                    position: relative;
                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: map-get($Primary, "P50");
                    }
                }
               
            }
            .title{
                color: map-get($Neutrals, 'N900' );
            }
            &.responsive{
                display: none;
            }
        }
    }
    @media (max-width: 768px) {
        :global .container {
            flex-direction: column;
            &::before{
                width: 1px;
                height: 60%;
                left: 46px;
                top: 21%;
            }
            .item{
                display: none;
                &.responsive{
                    display: flex;
                    flex-direction: row;
                    .circle{
                        width: 30px;
                        height: 50px;
                    }
                    .detail{
                        display: flex;
                        flex-direction: column;
                        span{
                            margin: 4px 16px;
                        }
                    }
                }
            }
        }
    }
}
