@import '../../../../sass/variables';
.job-pool{
    background-color: map-get($Neutrals, "N10");
    :global{
        display: flex;
        flex-direction: column;
       
        h3{
            text-align: center;
            margin: 64px auto 40px;
        }
        .job-wrapper{
            display: flex;
            margin: 8px 0;
            .job-item{
                background-color: map-get($Neutrals, "N0" );
                display: flex;
                padding: 20px 24px;
                border-radius: 10px;
                margin: 0 8px;
                width: 358px;
                height: 147px;
                flex-shrink: 0;
                white-space: normal;
                align-items: center;
                .avatar-wrapper{
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: center;
                    margin-right: 12px;
                    flex-shrink: 0;
                    display: flex;
                    .poster-img{
                        width: 62px;
                        height: 62px;
                        border-radius: 8px;
                        top: -8px;
                        right: 0;
                        position: absolute;
                    }
                    [class*=ticker-]{
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                        position: absolute;
                    }
                    &.avatar-1{
                        .ticker-1{
                            left: -5px;
                            bottom: 8px;
                        }
                    }
                    &.avatar-2{
                        .ticker-1{
                            left: -8px;
                            top: 6px;
                        }
                        .ticker-2{
                            right: 20px;
                            bottom: -4px;
                        }
                    }
                    &.avatar-3{
                        .ticker-1{
                            left: -8px;
                            top: 6px;
                        }
                        .ticker-2{
                            left: -5px;
                            bottom: 8px;
                        }
                        .ticker-3{
                            right: 20px;
                            bottom: -4px;
                        }
                    }

                }
                .job-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;  
                    flex-grow: 1;
                    height: 100%;
                    
                    .job-title{
                        color: map-get($Neutrals,"N600" );
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .job-details{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .status{
                            
                            padding-left: 20px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            &.status-open{
                                color:map-get($Primary, "P300") ;
                            }
                            &.status-assigned{
                                color: map-get($Warning , "Y500" );
                            }
                            &::before{
                                content: "•";
                                font-size: 32px;
                                left: 0;
                                position: absolute;
                                margin-bottom: 4px;
                            }
                        }
                        .job-price{
                            color: map-get($Neutrals,"N1000" );
                        }
                    }
                }
            }
        }

    }
    @media(max-width:768px){
         padding-bottom: 24px;
        :global{
            h3{
                margin: 24px auto 16px;
            }
            .job-wrapper{
                height: 111px !important;
                .job-item{
                    padding: 12px 16px;
                    width: 300px;
                    height: 111px;
                    .avatar-wrapper{
                        width: 75px !important;
                        height: 75px !important;
                        .poster-img{
                            width: 45px;
                            height: 45px;
                        }
                        [class*=ticker-]{
                            width: 24px;
                            height: 24px;
                        }
                        &.avatar-1{
                            .ticker-1{
                                left: 8px;
                                bottom: 9px;
                            }
                        }
                        &.avatar-2{
                            .ticker-1{
                                left: 0;
                                top: 0;
                            }
                            .ticker-2{
                                right: 5px;
                                bottom: 6px;
                            }
                        }
                        &.avatar-3{
                            .ticker-1{
                                left: 0;
                                top: 0;
                            }
                            .ticker-2{
                                left: 8px;
                                bottom: 9px;
                            }
                            .ticker-3{
                                right: 5px;
                                bottom: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}