@import '../../sass/variables';

.datepicker-input {

    .icon-after {
        svg {
            width: 18px;
            height: 18px;
            color: $primary;
        }
    }
}

.datepicker-modal {
    max-width: 350px;
    text-align: center;

    .modal-header {
        padding-bottom: 0;
    }

    .modal-body {
        margin-top: 0;
        padding: 0 !important;

        .rdrCalendarWrapper {
            background: transparent;

            .rdrMonthAndYearWrapper {
                padding-top: 0;
            }

            .rdrDayEndPreview,
            .rdrSelected,
            .rdrDayHovered .rdrDayNumber:after {
                margin: 0 7px;
            }
        }
    }

    .modal-footer {
        form {
            width: 100%;
            display: flex;

            button:hover,
            button:focus {
                text-decoration: none;
            }

            .done {
                background-color: $primary;
                color: white;
            }

            .cancel {
                color: black;
                background: white;
            }
        }
    }
}