@import "../../sass/variables";
.newchip {
    :global {
        .paper {
            padding: 36px;
            margin: 36px auto;
            box-shadow: 0px 15px 45px rgba(43, 50, 64, 0.1);
            z-index: 3;
            position: relative;
            background: #fff;
            border-radius: 10px;
            @media (max-width:768px){
                h3{
                    text-align: center;
                }
            }
            @media (max-width:576px){
                text-align: center;
            }
            h3{
                margin-bottom: 12px;
                line-height: 1.5;
            }
            p{
                line-height: 2;
            }
        }
    }
}
