@import "../../sass/variables";

.footer {
  background-color: #fafafa;
  display: flex;
  border-top: 1px solid map-get($Neutrals , "N30");
  :global .container {
    display: flex;
    flex-direction: column;
    margin-top: 58px;

    .items {
      display: flex;
      margin-bottom: 48px;

      [class*=col] {
        padding: 0;
      }

      .info {
        h2 {
          margin-top: 10px;
          padding: 0;
          color: map-get($Neutrals, "N900");
        }

        .email,
        .contact {
          display: flex;
          align-items: center;
          margin: 16px 0;

          svg {
            color: map-get($Neutrals, "N900");
            font-size: 18px;
          }

          a {
            color: map-get($Neutrals, "N900");
            margin-left: 10px;
          }
        }
      }

      .menus {
        display: flex;
        padding: 0 40px !important;
        margin-top: 26px;

        [class*="col"] {
          h4 {
            margin-bottom: 16px;
          }

          ul {
            padding: 0;
            margin: 0;

            li {
              list-style: none;
              margin-bottom: 8px;

              &:last-child {
                margin-bottom: 0;
              }

              span {
                color: map-get($Neutrals, "N500");
              }
            }
          }
        }
      }

      .connection {
        padding-left: 10px !important;
        margin-top: 26px;

        .social {
          margin: 20px 0 24px;

          svg {
            color: map-get($Neutrals, "N500");
            font-size: 18px;
            margin-right: 20px;
          }
        }

        .stores {
          .androidapp {
            margin-left: 20px;
          }
        }
      }
    }

    .copyright {
      border-top: 0.25px solid map-get($Neutrals, "N40" );

      span {
        display: flex;
        padding: 24px 0;
        color: map-get($Neutrals, "N60" );
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    :global {
      .container {
        margin-top: 64px;

        .items {
          margin-bottom: 36px;

          .menus {
            padding: 0 36px !important;
          }

          .connection {
            .stores {
              display: flex;
              flex-direction: column;
              width: 52%;

              .androidapp {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 992px) {
    :global {
      .container {
        margin-top: 56px;
        padding: 0;

        .items {
          display: initial;
          margin-bottom: 36px;

          .menus {
            margin: 32px 0;
            padding: 0 !important;
          }

          .connection {
            padding: 0 !important;
            margin: 0;

            .social {
              margin: 12px 0 32px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    :global {
      .container {
        margin-top: 24px;

        .items {
          margin-bottom: 0;
          display: initial;

          .menus {
            flex-direction: column;
            padding: 0 !important;
            margin-top: 16px;

            [class*=col] {
              margin-bottom: 32px;

              h4 {
                margin-bottom: 12px;
              }
            }
          }

          .connection {
            padding: 0 !important;
            margin-bottom: 38px;
            margin-top: 0;

            .social {
              margin: 12px 0 32px;
            }
          }
        }
      }
    }
  }
}