@import "../../sass/colors";

.policy-page {
  :global .policy-container {
    h2 {
      color: map-get($Primary, "P300");
      margin-top: 80px;
      margin-bottom: 24px;
    }

    p {
      color: map-get($Neutrals, "N900");
      line-height: 1.8;
    }
  }
}
