@import '../../../sass/variables';

.location-page {
    background-color: map-get($Neutrals, 'N5');

    :global {

        header:not(.scrolled) {
            background: transparent;
            box-shadow: none;

            .navbar-nav .nav-item>a,
            .navbar-nav .nav-item>a:hover,
            .btn-outline-primary {
                color: map-get($Neutrals, 'N0');
                border-color: map-get($Neutrals, 'N0');
            }

            .navbar-nav .nav-item {

                &:hover,
                &.show {
                    span {
                        color: map-get($Neutrals, "N0");
                        @media (max-width:992px) {
                            color: map-get($Primary, "P300");
                        }
                    }
                    &::after {
                        background-color: map-get($Neutrals, "N0");
                    }
                }
                &.active{
                    &::after {
                        background-color: map-get($Neutrals, "N0");
                    }
                }
                .dropdown-menu {
                    .description {
                        span{
                            color: map-get($Primary, "P300");
                        }
                    }
                    ul li{
                    span{
                        color: map-get($Neutrals, "N900" );
                        @media(max-width:992px){
                            color: map-get($Neutrals, "N0");
                        }
                        &:hover{
                            color: map-get($Primary, "P300" );
                        }
                    }
                }
                }
            }
            .navbar-toggler svg{
                color: map-get($Neutrals, "N0");
            }
            .navbar-toggler,
            .navbar-right{
                .btn {
                    &:hover{
                        span {
                            color: map-get($Neutrals, "N0");
                        }
                        &::after {
                            background-color: map-get($Neutrals, "N0");
                        }
                    }
                }
             .btn-link {
                color: map-get($Neutrals, 'N0');
            }
        }
        }

        main {
            margin-top: 0;

            >div:nth-child(2n) {
                background-color: map-get($Neutrals, 'N20');
            }
        }
    }
}