@import "../../../../sass/variables";

.top-expert {
    :global {
        .container {
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                justify-content: space-between;
                margin-top: 112px;
                margin-bottom: 48px;
            }

            .items {
                display: flex;
                margin: 0 -10px 80px;

                [class*="col"] {
                    padding: 0 10px;

                    .wrapper {
                        background-color: map-get($Neutrals, "N0");
                        border-radius: 5px;
                        overflow: hidden;
                        .image-box {
                            position: relative;
                            height: 260px;

                            .profile-img {
                                top: 20px !important;
                                left: 20px !important;
                                position: absolute !important;
                                img {
                                    border-radius: 50% !important;
                                    border: 2px solid map-get($Neutrals, "N0") !important;
                                    background-color: map-get($Neutrals, "N0") !important;
                                }
                            }

                            .rating-box {
                                padding: 12px 24px;
                                background-color: map-get($Primary, "P300");
                                position: absolute;
                                width: 100%;
                                bottom: 0;

                                span:not(.active) {
                                    color: map-get($Neutrals, "N0");
                                }

                                .data-row {
                                    display: flex;
                                    justify-content: space-between;

                                    .star-rating .star {
                                        margin: 0 0 0 2px;

                                        svg {
                                            font-size: 10px !important;
                                        }
                                    }

                                    .star-number {
                                        margin-left: 8px;
                                    }
                                }
                            }
                        }

                        .data-row {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        .info-box {
                            padding: 0 24px;

                            .name-box {
                                padding: 16px 0 12px;
                                border-bottom: 0.75px solid #f0f0f0;

                                .join-date {
                                    color: #979797;
                                }
                            }

                            .link-info {
                                padding: 16px 0 12px;

                                .data-row svg {
                                    margin-left: 12px;
                                    font-size: 14px;
                                }
                            }

                            .reviews-box {
                                padding-bottom: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        :global {
            .container {
                padding: 0 24px;

                .header {
                    margin-top: 56px;
                    margin-bottom: 32px;
                    width: 90%;
                }

                .items {
                    overflow: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    > div {
                        min-width: 290px;
                        max-width: 310px;
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        :global {
            .container {
                padding: 0 24px;

                .items {
                    margin: 0 -24px 48px -10px;
                }
            }
        }
    }
}
