@import "../sass/variables";

.notifications-component {
  top: 0;

  .notification__item {
    border-left: none;
  }
}

main {
  margin-top: 32px;
  @media (max-width: 992px){
    margin-top: 0;
  }
}

.triangle-backround main {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;

  &:before {
    position: absolute;
    width: 1727px;
    height: 1127px;
    left: -124px;
    top: -717px;
    background: #f7f7f7;
    border-radius: 49px;
    transform: rotate(12deg);
    content: "";
    z-index: -2;
  }

  &:after {
    position: absolute;
    width: 300px;
    height: 300px;
    right: -210px;
    top: 120px;
    background: #5568fe;
    border-radius: 49px;
    transform: rotate(30deg);
    content: "";
    z-index: -1;
  }
}

.paper {
  padding: 36px;
  margin: 36px auto;
  box-shadow: 0px 15px 45px rgba(43, 50, 64, 0.1);
  z-index: 3;
  position: relative;
  background: #fff;
  border-radius: 10px;
}

.download-app-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: #ffffff;
  padding: 12px;
  align-items: center;
  box-shadow: 0px -2px 3px rgba(43, 50, 64, 0.2);
  z-index: 900;

  .message {
    margin-left: 16px;
    margin-right: auto;

    span {
      color: map-get($Neutrals, "N800");
    }

    .stars {
      svg {
        color: map-get($Warning, "Y300");
        margin-right: 2px;
      }
    }
  }

  button.btn-outline-primary {
    border-radius: 10px;
  }

  button.btn-link {
    color: #8993a4;
    padding-left: 0;
    padding-right: 10px;
  }
}