@import "../../../../sass/variables";

.what-include {
    :global .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            margin-top: 88px;
            width: 60%;

            h3,
            span {
                display: flex;
                justify-content: center;
                color: map-get($Neutrals, "N900");
                text-align: center;
            }
        }

        .items {
            margin-top: 96px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            [class*="col"] {
                padding: 0 24px;
                margin-bottom: 88px;
                max-height: 380px;

                .item-wrapper {
                    padding: 0 36px 36px;
                    background-color: map-get($Neutrals, "N0");
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 8px;
                    height: 100%;

                    .number {
                        width: 90px;
                        height: 90px;
                        border-radius: 50px;
                        background-color: map-get($Primary, "P50");
                        border: 10px solid map-get($Neutrals, "N0");
                        margin-top: -28px;
                        align-items: center;
                        color: map-get($Primary, "P300");
                        justify-content: center;
                        display: flex;
                        flex-shrink: 0;
                    }

                    .content {
                        text-align: center;
                        margin-top: 26px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;

                        h3 {
                            color: map-get($Neutrals, "N1000");
                            margin-bottom: 12px;
                        }

                        .description {
                            margin: 0 -16px 16px;

                            &.more-fade {
                                position: relative;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    height: 100px;
                                    width: 100%;
                                    background-image: linear-gradient(transparent, #ffffff);
                                    bottom: 0;
                                    left: 0;
                                    pointer-events: none; 

                                    @media(min-width: 768px) {
                                        width: 97%;
                                    }
                                }
                            }

                            p {
                                color: map-get($Neutrals, "N900");
                                word-break: break-word;
                                margin: 0;
                                overflow: scroll;
                                scrollbar-width: thin;
                                padding: 0 16px;
                                margin: 0;

                                &::-webkit-scrollbar {
                                    @media(max-width: 768px) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        button {
                            text-decoration: none !important;
                            box-shadow: none !important;
                            margin-top: 12px;
                            padding: 0;
                            margin-top: auto;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        :global .container {
            .items {
                [class*="col"] {
                    padding: 0 16px;

                    .item-wrapper {
                        padding: 0 20px 20px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        :global .container {
            .header {
                width: 85%;
            }
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        :global .container {
            .items {
                [class*="col"] {
                    margin-bottom: 68px;
                }
            }
        }
    }

    @media (max-width: 576px) {
        :global .container {
            .header {
                width: 94%;
            }

            .items {
                [class*="col"] {
                    margin-bottom: 68px;

                    .item-wrapper .content {
                        .description.more-fade {

                            &:after {
                                content: none;
                            }

                        }
                    }
                }
            }
        }
    }
}