@import "../../../../sass/variables";
.add-details {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;

  .jobDescription {
    textarea {
      min-height: 136px;
      @media (max-width: 768px) {
        min-height: 81px !important;
      }
    }
  }

  :global {
    .step1 {
      .input-error {
        margin-bottom: 12px;
      }
      .location-input {
        .dropdown {
          top: 55px;
        }
      }
      .location-input {
        .input-error {
          margin-top: 12px;
        }
      }
      margin-bottom: auto;
      display: flex;
      [class*="col"] {
        .input-wrapper {
          margin-bottom: 12px;
        }
        .form-group {
          border: 1px solid map-get($Neutrals, "N50");
          padding: 16px;
          border-radius: 8px;
          .location-input {
            .input-wrapper {
              padding: 16px 12px;
              margin: 0;
            }
          }
          .no-border {
            margin-bottom: 16px;
          }
        }
      }
    }
    .step2 {
      margin-bottom: auto;
      display: flex;
      > [class*="col"] {
        display: flex;
        flex-direction: column;
        > span {
          margin-bottom: 12px;
        }
        .attach-file {
          display: flex;
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: space-between;
      margin: auto -57px 0;

      .btn-primary {
        padding: 12px 44px;
        border-radius: 6px;
      }
      .btn-link {
        display: flex;
        align-items: center;
        box-shadow: none;
        text-decoration: none;
        svg {
          margin-right: 14px;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    :global {
      .pagination {
        margin: auto 0 0;
        padding-bottom: 24px;
        .btn-primary {
          padding: 8px 32px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0;
    :global {
      .step1 {
        [class*="col"] {
          .input-wrapper {
            textarea {
              min-height: 114px;
            }
          }
        }
      }
      .step2 {
        > [class*="col"] {
          margin-bottom: 24px;
          > span {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
